<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="app-container">
    <ListPage ref="listPage" :page-props="pageProps" title="酒店列表">
      <template v-slot:region="{row}">{{ row.provinceName }}/{{ row.cityName }}/{{ row.districtName }}</template>
      <template v-slot:officeStatus="{row}">
        <el-badge v-if="row.officeStatus" :type="row.officeStatus === '1' ? 'success' : 'info'" is-dot>{{ officeStatusMap[row.officeStatus] }}</el-badge>
      </template>
    </ListPage>
  </div>
</template>

<script>
import ListPage from 'dc-vue-components/components/ListPage'
import { checkBtnPermByCode } from '@/utils/util'

import { officeStatusMap } from '../scenic-area-mgnt/consts'

export default {
  name: 'HotelList',
  components: {
    ListPage
  },
  props: {},
  data: function() {
    const _t = this
    return {
      officeStatusMap,
      type: _t.$route.query.type
    }
  },
  computed: {
    pageProps: function() {
      const _t = this
      const obj = {
        ui: {
          title: '酒店列表',
          tree: {
            showTree: true
          },
          api_url: 'hotel/queryList',
          method: 'POST',
          params: {}, // string or object
          search_bar: {
            fields: [
              {
                en_name: 'id',
                zh_name: '酒店编码',
                elem_type: 'Number'
              },
              {
                en_name: 'hotelName',
                zh_name: '酒店名称',
                elem_type: 'Input'
              },
              {
                en_name: 'crsCodes',
                zh_name: 'CRS酒店代码',
                elem_type: 'Select',
                cmpt_options: [],
                multiple: true,
                attrs: {
                  filterable: true
                }
              },
              {
                en_name: 'districts',
                zh_name: '所在区域',
                elem_type: 'AreaCascader',
                cmpt_options: [
                  {
                    value: 'guide',
                    label: 'Guide',
                    children: [
                      {
                        label: 'Consistency',
                        value: 'consistency'
                      },
                      {
                        value: 'feedback',
                        label: 'Feedback'
                      }
                    ]
                  }
                ]
              },
              {
                en_name: 'officeStatus',
                zh_name: '营业状态',
                elem_type: 'Select',
                cmpt_options: Object.keys(officeStatusMap).map(val => ({ value: val, label: officeStatusMap[val] }))
              }
            ]
          },
          action_bar: [
            {
              label: '新增酒店',
              click: function() {
                _t.$store.commit('hotel/add/SET_STATE', { formValues: { facilities: [], orgId: _t.$refs.listPage.orgId }})
                _t.$router.push({ path: '/products/hotel/hotel_add', query: { type: 'add' }})
              },
              shouldShow: checkBtnPermByCode('HOTEL_LIST-ADD'),
              iconClass: 'iconicon_plus1'
            }
          ], //
          mockData: null,
          table: {
            extProps: {
              // extra property, for example rowSelection
            },
            fields: [
              { en_name: 'id', zh_name: '酒店编码', width: '200' },
              { en_name: 'hotelName', zh_name: '酒店名称', minWidth: '130' },
              { en_name: 'crsCode', zh_name: 'CRS酒店代码', minWidth: '130' },
              { en_name: 'region', zh_name: '所属地区', minWidth: '220' },
              { en_name: 'orgName', zh_name: '所属组织', minWidth: '220' },
              { en_name: 'updateTime', zh_name: '更新时间', minWidth: '200' },
              { en_name: 'officeStatus', zh_name: '营业状态', minWidth: '108' }
            ],
            actions: [
              {
                label: '查看',
                shouldShow: row => checkBtnPermByCode('HOTEL_LIST-DETAIL'),
                getLinkUrl: row => `#/products/hotel/hotel_detail?id=${row.id}`
              },
              {
                label: '编辑',
                shouldShow: row => checkBtnPermByCode('HOTEL_LIST-EDIT'),
                getLinkUrl: row => `#/products/hotel/hotel_add?type=edit&id=${row.id}&orgId=${row.orgId}`
              },
              {
                label: '删除',
                shouldShow: row => checkBtnPermByCode('HOTEL_LIST-DELETE'),
                method: 'POST',
                funcName: 'onDelete',
                getApiUrl: row => `hotel/delete/${row.id}`,
                getConfirmContent: row => `确定要删除‘${row.hotelName}’吗？`,
                handleParams: function(row) {
                  return {
                    id: row.id
                  }
                }
              }
            ],
            actionWidth: 180
          } // object or object array
        }
      }
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'crsCodes') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.crsCodeList })
          return true
        }
      })
      return obj
    },
    crsCodeList: function(val) {
      return this.$store.state['hotel/list'].crsCodeList
    }
  },
  created: function() {
    this.$store.dispatch('hotel/list/getHotelCrsCodes')
    this.requestedCrsCode = true
  },
  activated: function() {
    if (!this.requestedCrsCode) {
      this.$store.dispatch('hotel/list/getHotelCrsCodes')
    }
    this.requestedCrsCode = false
  }
}
</script>

<style lang="less" scoped>
  .app-container /deep/ .el-badge{
    padding-left: 6px;
  }
  .app-container /deep/ .el-badge__content{
    top: 11px;
    left: -16px;
  }
</style>
