<template>
  <div class="app-container">
    <el-tabs
      class="multiLanguage"
      @tab-click="onChangeLanguage"
    >
      <el-tab-pane
        v-for="(lang, langIndex) in languages"
        :key="langIndex"
        :label="lang.label"
      />
    </el-tabs>
    <el-card header="基础信息" shadow="nerver" class="content-item">
      <Descriptions :list="baseInfoList">
        <!-- 酒店缩略图 -->
        <template v-slot:thumbnail="{row}">
          <img :src="row.value" style="height: 104px;" @click="onPreview">
        </template>
        <!-- 酒店配套设施 -->
        <template v-slot:facilities="{row}">
          <span v-for="facility in row.value" :key="facility" style="margin-right: 8px">{{ facility }}</span>
        </template>
        <!-- 备注 -->
        <template v-slot:remark="{row}">
          <pre>{{ row.value || '--' }}</pre>
        </template>
      </Descriptions>
    </el-card>

    <el-card header="酒店介绍" shadow="never" class="content-item">
      <Descriptions :list="introduceList" :col="1">
        <template v-slot:introduce="{row}">
          <pre>{{ row.value || '--' }}</pre>
        </template>
      </Descriptions>
    </el-card>

    <el-card header="关联的酒店房型" shadow="never" class="content-item">
      <el-table :data="detail.layoutDtos || []">
        <el-table-column label="酒店房型编码" prop="id" />
        <el-table-column label="CRS房型代码" prop="crsCode" />
        <el-table-column label="房型" prop="layoutName" />
        <el-table-column label="景观" prop="landscape" />
        <el-table-column label="床型" prop="badTypes" />
        <el-table-column label="床型面积（平方米）" prop="area" />
        <el-table-column label="状态" prop="status">
          <template v-slot:default="{row}">{{ houseLayoutStatusMap[row.status] }}</template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-card header="关联的酒店产品" shadow="never">
      <el-table :data="detail.productDtos || []">
        <el-table-column label="酒店产品编码" prop="id" />
        <el-table-column label="酒店产品名称" prop="productName" />
        <el-table-column label="CRS房价码" prop="crsPriceCode" />
        <el-table-column label="CRS房价码名称" prop="crsPriceName" />
        <el-table-column label="产品性质" prop="productType">
          <template v-slot:default="{row}">{{ getProductTypeLabel(row) }}</template>
        </el-table-column>
        <el-table-column label="状态" prop="status">
          <template v-slot:default="{row}">{{ houseLayoutStatusMap[row.status] }}</template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-dialog :visible.sync="dialogVisible">
      <img width="100%" :src="detail.thumbnail" alt="酒店产品展示图">
    </el-dialog>
  </div>
</template>

<script>
import defaultImg from '@/assets/imgs/default-product.png'
import { hotelStatusMap as officeStatusMap, houseLayoutStatusMap, facilityFields } from './constants'
import { languages } from '@/utils/consts'
import Descriptions from 'dc-vue-components/components/Descriptions'

export default {
  name: 'HotelDetail',
  components: {
    Descriptions
  },
  props: [],
  data: function() {
    return {
      defaultImg,
      officeStatusMap,
      houseLayoutStatusMap,
      dialogVisible: false,
      productTypes: null,
      language: 'zh',
      languages
    }
  },
  computed: {
    isEn() {
      return this.language === 'en'
    },
    detail() {
      return this.$store.state['hotel/detail'].detail
    },
    // 基础信息
    baseInfoList() {
      const { id, thumbnail, hotelName, enStoreName, createPerson, crsCode, adminEmail, provinceName,
        enProvinceName, cityName, enCityName, districtName, enDistrictName, longitude, latitude,
        orgName, enOrgName, address, enAddress, createTime, internetSite, phone, updatePerson,
        updateTime, officeStatus, facilities, enFacilities, remark, enNotice } = this.detail

      let areaText
      if (this.isEn) {
        const areaArr = []
        enProvinceName && areaArr.push(enProvinceName)
        enCityName && areaArr.push(enCityName)
        enDistrictName && areaArr.push(enDistrictName)
        areaText = areaArr.length ? areaArr.join('/') : '--'
      } else {
        areaText = `${provinceName || ''} / ${cityName || ''} / ${districtName || ''}`
      }
      const longAndLatText = `${longitude || ''} / ${latitude || ''}`

      return [
        { label: '酒店编码', value: id },
        {
          label: '酒店缩略图', prop: 'thumbnail', value: thumbnail || defaultImg,
          itemOptions: { rowspan: 3 }
        },
        { label: '酒店名称', value: this.isEn ? enStoreName : hotelName },
        { label: '创建人', value: createPerson },
        { empty: true },
        { label: 'CRS酒店代码', value: crsCode },
        { label: '管理员邮箱', value: adminEmail },
        { empty: true },
        { label: '所在地区', value: areaText },
        { label: '地图经纬度', value: longAndLatText },
        { label: '所属组织', value: this.isEn ? enOrgName || orgName : orgName },
        { label: '具体地址', value: this.isEn ? enAddress : address },
        { label: '创建时间', value: createTime },
        { label: '网址', value: internetSite },
        { label: '电话', value: phone },
        { label: '修改人', value: updatePerson },
        { label: '修改时间', value: updateTime },
        { label: '营业状态', value: this.officeStatusMap[officeStatus] },
        { label: '酒店配套设施', prop: 'facilities', value: this.isEn ? enFacilities : facilities },
        {
          label: '备注', prop: 'remark', value: this.isEn ? enNotice : remark,
          itemOptions: { colspan: 2 }
        }
      ]
    },
    // 酒店介绍
    introduceList() {
      const { recommendation, enRecommendation, introduce, enIntroduce } = this.detail
      return [
        { label: '一句话推荐', value: this.isEn ? enRecommendation : recommendation },
        { label: '酒店介绍', prop: 'introduce', value: this.isEn ? enIntroduce : introduce }
      ]
    }
  },
  created: function() {
    this.getData()
  },
  activated() {
    this.getData()
  },
  methods: {
    async getData() {
      try {
        await this.getProductTypes()
        await this.$store.dispatch('hotel/detail/getHotelDetail', this.$route.query.id)
        const { facilities } = this.detail
        const enFacilities = []
        facilities && facilities.forEach(facilityZh => {
          const index = facilityFields.findIndex(item => item.zh === facilityZh)
          const facilityEn = facilityFields[index].en
          enFacilities.push(facilityEn)
        })
        Object.assign(this.detail, { enFacilities })
      } catch (e) {
        console.log(e)
      }
    },
    async getProductTypes() {
      try {
        const result = await this.$store.dispatch('base-setting/data-dict/detail/getDetail', 1)
        const { propValueDtoList } = result || {}
        this.productTypes = propValueDtoList ? propValueDtoList.map(dto => {
          return { label: dto.propValue, value: dto.constant }
        }) : []
      } catch (e) {
        console.log(e)
      }
    },
    getProductTypeLabel({ productType }) {
      const idx = this.productTypes ? this.productTypes.findIndex(item => item.value === productType) : -1
      const obj = idx < 0 ? null : this.productTypes[idx]
      return obj ? obj.label : '--'
    },
    onPreview() {
      if (this.detail.thumbnail) {
        this.dialogVisible = true
      }
    },
    onChangeLanguage(tab) {
      let { index } = tab
      index = parseInt(index)
      const language = isNaN(index) ? '' : this.languages[index].value
      if (this.language === language) {
        return
      }
      this.language = language
    }
  }
}
</script>

<style scoped lang="less">
.app-container {
  position: relative;

  .multiLanguage {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 12px 24px;
  }

  .content-item {
    margin-bottom: 24px;
  }
}
</style>
