<template>
  <div class="app-container">
    <EditTemplate
      ref="editTemplate"
      :rules="rules"
      :form-values="formValues"
      class="edit-container"
      label-width="140px"
      :loading="btnLoading"
      :multi-language="type === 'edit'"
      @submit="handleSubmit"
      @cancel="handleCancel"
      @on-change-language="onChangeLanguage"
    >
      <FormCard
        title="基础信息"
        :rules="rules"
        :span="9"
        :form-props="basicInfoFormProps"
        :form-values="formValues"
        :language="language"
        :editable-fields="editableFields"
      >
        <el-form-item slot="productType" prop="productType" label="游客类型" style="white-space: nowrap">
          <el-select
            v-model="formValues.productType"
            placeholder="请选择游客类型"
            :disabled="language === 'en'"
            style="width:100px"
          >
            <el-option
              v-for="(item, index) in productTypes"
              :key="index"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
          <div
            v-if="formValues.productType + '' === '1'"
            style="display: inline-flex; align-items: center"
          >
            <el-input-number
              v-model="formValues.minOrderQuantity"
              :min="1"
              controls-position="right"
              style="display:inline-block;width:100px"
              :precision="0"
              :disabled="language === 'en'"
            />
            <span
              style="font-size:14px;margin-left: 8px"
            >个起售</span>
          </div>
        </el-form-item>
      </FormCard>
      <FormCard>
        <template v-slot:title>
          <span>关联的酒店</span>
          <i class="el-icon-warning-outline" />
          <span style="font-size: 12px;color: rgba(0,0,0,0.45);">只能关联一个酒店</span>
        </template>
        <TableSelect
          ref="hotelSelect"
          :table-fields="hotelFields.concat([{zh_name: '所属组织', en_name: 'orgName'}])"
          btn-text="关联酒店"
          dlg-title="关联酒店"
          dlg-width="1050px"
          :page-props="hotelPageProps"
          :initial-table-data="formValues.hotelId ? [formValues.hotelDto] : undefined"
          :relative-ids.sync="formValues.hotelId"
          row-key="id"
          :show-btn="showBtn('hotelId')"
          :slot-names="['region', 'officeStatus']"
          :language="language"
          @update:relativeIds="handleRelateHotelChange"
        >
          <template v-slot:region="{row}">{{ row.provinceName }}/{{ row.cityName }}/{{ row.districtName }}</template>
          <template v-slot:officeStatus="{row}">{{ hotelStatusMap[row.officeStatus] || '-' }}</template>
        </TableSelect>
      </FormCard>
      <FormCard>
        <template v-slot:title>
          <span>关联的酒店房型</span>
          <i class="el-icon-warning-outline" />
          <span style="font-size: 12px;color: rgba(0,0,0,0.45);">只能关联一个酒店房型</span>
        </template>
        <TableSelect
          ref="layoutSelect"
          :table-fields="houseTypeFields"
          btn-text="关联酒店房型"
          dlg-title="关联酒店房型"
          :page-props="houseTypePageProps"
          selection="single"
          :initial-table-data="formValues.houseLayoutId ? [formValues.layoutDto] : undefined"
          :relative-ids.sync="formValues.houseLayoutId"
          :prerequisite="{satisfied: formValues.hotelId, hint: '请先选择要关联的酒店'}"
          :show-btn="showBtn('houseLayoutId')"
          :slot-names="['status']"
          :language="language"
        >
          <template v-slot:status="{row}">{{ houseLayoutStatusMap[row.status] }}</template>
        </TableSelect>
      </FormCard>
      <FormCard
        title="退改规则"
        :editable-fields="editableFields"
        :form-props="retreatRuleFormProps"
        :form-values="formValues"
        :language="language"
      >
        <el-form-item slot="retreatRule" label="选择规则" prop="retreatRule" class="width100">
          <el-button
            type="primary"
            icon="el-icon-plus"
            size="mini"
            :disabled="language === 'en'"
            @click="retreatRuleDialogVisible = true"
          >
            添加退改规则
          </el-button>
          <div>
            <div v-if="formValues.retreatRule" class="tag-wrap">
              <el-tag
                type="info"
                :closable="language !== 'en'"
                @close="removeRetreatRule"
              >{{ formValues.retreatRule.name }}</el-tag>
            </div>
          </div>
        </el-form-item>
      </FormCard>
    </EditTemplate>
  </div>
</template>

<script>
import EditTemplate from 'dc-vue-components/components/EditTemplate'
import FormCard from 'dc-vue-components/components/FormCard'
import TableSelect from 'dc-vue-components/components/TableSelect'
import { hotelStatusMap, houseLayoutStatusMap } from './constants'
import { isEmpty, cloneDeep } from 'lodash'
import siteConfig from '@/utils/config'
import { duplicateRulesOfEn } from '@/utils'

export default {
  name: 'HotelProductEdit',
  components: {
    EditTemplate,
    FormCard,
    TableSelect
  },
  data: function() {
    const _t = this
    const hotelFields = [
      { zh_name: '酒店编码', en_name: 'id' },
      { zh_name: '酒店名称', en_name: 'hotelName' },
      { zh_name: 'CRS酒店代码', en_name: 'crsCode' },
      { zh_name: '所在地区', en_name: 'region' }
    ]
    const houseTypeFields = [
      { zh_name: '酒店房型编码', en_name: 'id' },
      { zh_name: 'CRS房型代码', en_name: 'crsCode', width: 110 },
      { zh_name: '房型', en_name: 'layoutName' },
      { zh_name: '景观', en_name: 'landscape' },
      { zh_name: '床型', en_name: 'badTypes' },
      { zh_name: '床型面积(平方米)', en_name: 'area' },
      { zh_name: '状态', en_name: 'status', width: 70 }
    ]

    return {
      id: '',
      type: 'add',
      language: 'zh',
      retreatRuleDialogShowAgain: false,
      retreatRuleDialogVisible: false,
      retreatRuleFormProps: {
        formItemList: [
          {
            label: '选择规则',
            prop: 'retreatRule',
            type: 'Slot',
            width: '100%'
          },
          {
            label: '退改规则',
            prop: 'retreatRuleDesc',
            en_prop: 'enRetreatRuleDesc',
            type: 'Textarea',
            rows: 3,
            width: '70%',
            attrs: {
              maxlength: 2000
            }
          }
        ]
      },
      rules: {
        // productCode: [{required: true, message: '请输入酒店产品代码'}],
        productName: [{ required: true, message: '请输入酒店产品名称', pattern: '[^ \x22]+' }],
        crsPriceCode: [{ required: true, message: '请输入CRS房价码', pattern: '[^ \x22]+' }],
        crsPriceName: [{ required: true, message: '请输入CRS房价码名称', pattern: '[^ \x22]+' }],
        guests: [{ required: true, message: '请输入最大可入住人数' }],
        productType: [{ required: true, trigger: 'change', message: '请选择游客类型' }, { required: true, message: '请输入起售数', validator: _t.productTypeValidator.bind(_t) }],
        status: [{ required: true, trigger: 'change', message: '请选择状态' }],
        retreatRule: [{ required: true, message: '请选择退改规则', validator: this.retreatRuleValidator }]
      },
      hotelFields,
      houseTypeFields,
      hotelStatusMap,
      houseLayoutStatusMap,
      btnLoading: false,
      productTypes: []
    }
  },
  computed: {
    basicInfoFormProps: function() {
      const offsetNum1 = this.type === 'edit' ? 2 : 0
      const offsetNum2 = this.type !== 'edit' ? 2 : 0
      return {
        formItemList: [
          { label: '酒店产品编码', prop: 'id', type: 'Input', hide: this.type !== 'edit',
            height: '56px', unify: true
          },
          { label: '酒店产品名称', prop: 'productName', en_prop: 'enSkuName', type: 'Input',
            hide: this.type === 'edit', height: '56px'
          },
          { label: '酒店产品展示图', prop: 'thumbnail', type: 'Upload',
            action: siteConfig.getBaseUrl() + '/file/upload/single',
            height: '144px', colAttrs: { offset: 2 }, span: 13,
            style: { float: 'right', marginBottom: '24px' },
            unify: true
          },
          { label: '酒店产品名称', prop: 'productName', en_prop: 'enSkuName', type: 'Input',
            hide: this.type !== 'edit', height: '56px'
          },
          { label: 'CRS房价码', prop: 'crsPriceCode', type: 'Input',
            height: '56px', unify: true
          },
          { label: 'CRS房价码名称', prop: 'crsPriceName', type: 'Input',
            height: '56px', unify: true
          },
          { label: '酒店服务名称', prop: 'serverName', en_prop: 'enServerName', type: 'Input',
            colAttrs: { offset: offsetNum1 }, height: '56px'
          },
          { label: '酒店服务代码', prop: 'serverCode', type: 'Input',
            colAttrs: { offset: offsetNum2 }, height: '56px', unify: true
          },
          { label: '酒店服务数量', prop: 'serverCount', type: 'InputNumber',
            controls: false, min: 1, precision: 0,
            colAttrs: { offset: offsetNum1 }, height: '56px',
            unify: true
          },
          { label: '最小连住天数', prop: 'minUseDay', type: 'InputNumber',
            controls: false, min: 0, precision: 0,
            colAttrs: { offset: offsetNum2 }, height: '56px',
            unify: true
          },
          { label: '提前入住时间(小时)', prop: 'beforeHour', type: 'InputNumber',
            controls: false, min: 0, precision: 1, colAttrs: { offset: offsetNum1 },
            height: '56px', unify: true
          },
          { label: '游客类型', prop: 'productType', type: 'Slot', value: [],
            span: 11, colAttrs: { offset: offsetNum2 }
          },
          {
            label: '最大连住天数', prop: 'maxUseDay', type: 'InputNumber', controls: false, min: 0,
            precision: 0, unify: true
          },
          {
            label: '最大可入住人数', prop: 'guests', type: 'InputNumber', controls: false, min: 0,
            precision: 0, colAttrs: { offset: offsetNum2 }, unify: true
          },
          { label: '状态', prop: 'status', type: 'Select',
            options: [{ label: '启用', value: '1' }, { label: '禁用', value: '0' }], unify: true
          },
          { label: '描述', prop: 'description', en_prop: 'enDescription', type: 'Textarea', span: 20 }
        ]
      }
    },
    editableFields: function() {
      const fields = this.basicInfoFormProps.formItemList.filter(field => {
        if (field.prop === 'id') {
          return false
        }

        return this.type !== 'edit' || this.language === 'zh' || !field.unify
      }).concat(this.retreatRuleFormProps.formItemList)

      return fields.map(field => {
        if (this.language === 'zh') {
          return field.prop
        }

        return field.en_prop || field.prop
      })
    },
    formValues: {
      get() {
        return this.$store.state['hotel/product_add'].detail
      },
      set(val) {
        this.$store.commit('hotel/add/SET_STATE', { formValues: val })
      }
    },
    detailFetched: function() {
      return this.$store.state['hotel/product_add'].detailFetched
    },
    showBtn: function() {
      return field => { // field: hotelId, houseLayoutId,
        if (this.type === 'edit') {
          if (!this.detailFetched || this.formValues[field]) {
            return false
          }
        }
        return true
      }
    },
    hotelPageProps: function() {
      const _t = this
      const obj = {
        ui: {
          api_url: 'hotel/queryList',
          method: 'POST',
          params: { pageSize: 5 },
          search_bar: {
            fields: [
              { zh_name: '酒店编码', en_name: 'id', elem_type: 'Number' },
              { zh_name: '酒店名称', en_name: 'hotelName', elem_type: 'Input' },
              { zh_name: 'CRS酒店代码', en_name: 'crsCodes', elem_type: 'Select', multiple: true, cmpt_options: [] }
            ],
            handleParams(params) {
              params.officeStatus = 1
              return params
            }
          },
          table: {
            fields: this.hotelFields.concat([
              { zh_name: '创建时间', en_name: 'createTime' },
              { zh_name: '状态', en_name: 'officeStatus', width: 80 }
            ])
          }
        }
      }
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'crsCodes') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.hotelCrsCodeList })
          return true
        }
      })
      return obj
    },
    houseTypePageProps: function() {
      const _t = this
      const obj = {
        ui: {
          api_url: 'hotel/layout/queryList',
          method: 'POST',
          params: { pageSize: 5 },
          search_bar: {
            fields: [
              { zh_name: 'CRS房型代码', en_name: 'crsCodes', elem_type: 'Select', multiple: true,
                colOptions: { xs: { span: 9 }, sm: { span: 9 }, md: { span: 9 }, lg: { span: 9 }, xl: { span: 9 }}
              },
              { zh_name: '房型名称', en_name: 'layoutName', elem_type: 'Input',
                colOptions: { xs: { span: 9 }, sm: { span: 9 }, md: { span: 9 }, lg: { span: 9 }, xl: { span: 9 }}
              }
            ],
            handleParams(params) {
              return {
                ...params,
                hotelIds: [_t.formValues.hotelId],
                status: params.status || '1'
              }
            }
          },
          table: {
            fields: this.houseTypeFields
          }
        }
      }
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'crsCodes') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.hotelTypeCrsCodeList })
          return true
        }
      })
      return obj
    },
    hotelCrsCodeList: function(val) {
      return this.$store.state['hotel/list'].crsCodeList
    },
    hotelTypeCrsCodeList: function() {
      return this.$store.state['hotel/hotel-type-list'].crsCodeList
    }
  },
  created() {
    const { type = 'add', id } = this.$route.query
    this.id = id
    this.type = type

    duplicateRulesOfEn(this.rules, this.basicInfoFormProps)
    if (this.type === 'edit') {
      this.getDetail()
      this.requestedDetail = true
    }
    this.$store.dispatch('hotel/list/getHotelCrsCodes')
    this.$store.dispatch('hotel/hotel-type-list/getLayoutCrsCodes')
    this.getProductTypes()
  },
  activated() {
    const { type = 'add', id } = this.$route.query
    this.id = id
    this.type = type

    if (this.retreatRuleDialogShowAgain) {
      this.retreatRuleDialogShowAgain = false
      this.retreatRuleDialogVisible = true
    }
    this.getProductTypes()
    if (this.type === 'edit') {
      if (!this.requestedDetail) {
        this.getDetail()
      }
      this.requestedDetail = false
    } else {
      // add
      if (!this.formValues.hotelId) {
        // 没有选中酒店时
        this.$refs.hotelSelect.tableData = []
        this.$refs.layoutSelect.tableData = []
      }
      if (!this.formValues.houseLayoutId) {
        // 没有选中酒店房型时
        this.$refs.layoutSelect.tableData = []
      }
    }
  },
  methods: {
    async getProductTypes() {
      try {
        const result = await this.$store.dispatch('base-setting/data-dict/detail/getDetail', 1)
        const { propValueDtoList } = result || {}
        this.productTypes = propValueDtoList ? propValueDtoList.map(dto => {
          return { label: dto.propValue, value: dto.constant }
        }) : []
      } catch (e) {
        console.log(e)
      }
    },
    async handleSubmit() {
      try {
        const data = cloneDeep(this.formValues)
        if (isEmpty(data.hotelId)) {
          this.$message('请选择要关联的酒店')
          return
        }
        if (isEmpty(data.houseLayoutId)) {
          this.$message('请选择要关联的酒店房型')
          return
        }
        if (data.productType + '' === '0') { // 散客产品
          data.minOrderQuantity = 1
        }
        if (data.retreatRule) {
          data.retreatRuleId = data.retreatRule.id
        }
        if (this.language === 'en') {
          data.enRetreatRule = data.enRetreatRuleDesc
        } else {
          data.retreatRule = data.retreatRuleDesc
        }
        delete data.retreatRuleDesc

        this.btnLoading = true

        let result
        if (this.type !== 'edit') {
          result = await this.$store.dispatch('hotel/product_add/addHotelProduct', data)
        }else {
          result = await this.$store.dispatch('hotel/product_add/updateHotelProduct', data)
        }
        const { resultCode } = result || {}
        if ('' + resultCode === '0') {
          this.$store.dispatch('tagsView/delView', this.$route)
          this.$router.replace('/products/hotel/hotel_product_list')
        }
      } catch (e) {
        console.log('add or create hotel product error:', e)
      }
      this.btnLoading = false
    },
    retreatRuleValidator(rule, value, callback) {
      if (isEmpty(this.formValues.retreatRule)) {
        callback(new Error(rule.message))
      } else {
        callback()
      }
    },
    removeRetreatRule() {
      this.$set(this.formValues, 'retreatRule', '')
      if (this.$refs.selectRetreatRule.$refs.listPage) {
        this.$set(this.$refs.selectRetreatRule.$refs.listPage.$data, 'radioSelected', false)
        this.$set(this.$refs.selectRetreatRule.$refs.listPage.$data, 'radioSelectRow', null)
      }
    },
    productTypeValidator(rule, value, cb) {
      if (value + '' === '1' && isNaN(this.formValues.minOrderQuantity)) {
        cb(new Error(rule.message))
        return
      }
      cb()
    },
    handleCancel() {
      this.$store.dispatch('tagsView/delView', this.$route)
      this.$router.replace('/products/hotel/hotel_product_list')
    },
    async getDetail() {
      try {
        let data = await this.$store.dispatch('hotel/product_add/getHotelProductDetail', this.id)
        data = data || {}
        this.$refs.hotelSelect.$data.tableData = [data.hotelDto]
        this.$refs.layoutSelect.$data.tableData = [data.layoutDto]
        const { retreatRule, enRetreatRule } = data
        this.$set(this.formValues, 'retreatRuleDesc', retreatRule)
        this.$set(this.formValues, 'enRetreatRuleDesc', enRetreatRule)
      } catch (e) {
        console.log('xxxxx e')
      }
    },
    handleRelateHotelChange() {
      if (!this.formValues.hotelId) { // 删除酒店时，同时删除对应的房型
        this.$refs.layoutSelect.tableData = []
        this.formValues.houseLayoutId = ''
      }
    },
    onChangeLanguage(language) {
      this.language = language
    }
  }
}
</script>

<style lang="less" scoped>
  .app-container{
  }
</style>
