<template>
  <div class="app-container">
    <el-tabs
      class="multiLanguage"
      @tab-click="onChangeLanguage"
    >
      <el-tab-pane
        v-for="(lang, langIndex) in languages"
        :key="langIndex"
        :label="lang.label"
      />
    </el-tabs>
    <el-card header="基础信息" shadow="never" class="content-item">
      <Descriptions :list="baseInfoList">
        <!-- 酒店产品展示图 -->
        <template v-slot:thumbnail="{row}">
          <img :src="row.value" style="height: 104px;" @click="onPreview">
        </template>
        <!-- 描述 -->
        <template v-slot:description="{row}">
          <pre>{{ row.value || '--' }}</pre>
        </template>
      </Descriptions>
    </el-card>

    <el-card header="关联的酒店" shadow="never" class="content-item">
      <el-table :data="detail.hotelDto ? [detail.hotelDto] : []">
        <el-table-column label="酒店编码" prop="id" />
        <el-table-column label="酒店名称" prop="hotelName" />
        <el-table-column label="CRS酒店代码" prop="crsCode" />
        <el-table-column label="所在地区" prop="region">
          <template v-slot:default="{row}">
            {{ row.provinceName }}/{{ row.cityName }}/{{ row.districtName }}
          </template>
        </el-table-column>
        <el-table-column label="所属组织" prop="orgName" />
        <el-table-column label="状态" prop="officeStatus">
          <template v-slot:default="{row}">
            {{ hotelStatusMap[row.officeStatus] }}
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-card header="关联的酒店房型" shadow="never" class="content-item">
      <el-table :data="detail.layoutDto ? [detail.layoutDto] : []">
        <el-table-column label="酒店房型编码" prop="id" />
        <el-table-column label="CRS房型代码" prop="crsCode" />
        <el-table-column label="房型" prop="layoutName" />
        <el-table-column label="景观" prop="landscape" />
        <el-table-column label="床型" prop="badTypes" />
        <el-table-column label="床型面积(平方米)" prop="area" />
        <el-table-column label="状态" prop="status">
          <template v-slot:default="{row}">
            {{ houseLayoutStatusMap[row.status] }}
          </template>
        </el-table-column>
      </el-table>
    </el-card>

    <el-card header="退改规则" shadow="never">
      <Descriptions :list="ruleList" :col="1">
        <!-- 选择规则 -->
        <template v-slot:retreatRuleObj="{row}">
          <el-link type="primary" :underline="false" @click="handleLinkClick">{{ row.value }}</el-link>
        </template>
        <!-- 退改规则 -->
        <template v-slot:retreatRule="{row}">
          <pre>{{ row.value }}</pre>
        </template>
      </Descriptions>
    </el-card>

    <el-dialog :visible.sync="dialogVisible">
      <img width="100%" :src="detail.thumbnail" alt="酒店产品展示图">
    </el-dialog>
  </div>
</template>

<script>
import Descriptions from 'dc-vue-components/components/Descriptions'
import { hotelProductStatusMap, hotelStatusMap, houseLayoutStatusMap } from './constants'
import defaultImg from '@/assets/imgs/default-product.png'
import { languages } from '@/utils/consts'

export default {
  name: 'HotelProductDetail',
  components: {
    Descriptions
  },
  props: [],
  data: function() {
    return {
      hotelProductStatusMap,
      hotelStatusMap,
      houseLayoutStatusMap,
      dialogVisible: false,
      productTypes: [],
      defaultImg,
      language: 'zh',
      languages
    }
  },
  computed: {
    detail: function() {
      return this.$store.state['hotel/product_detail'].detail
    },
    // 基础信息
    baseInfoList() {
      const { id, thumbnail, maxUseDay, guests, productName, enSkuName, status, crsPriceCode, layoutDto,
        crsPriceName, minUseDay, productType, minOrderQuantity, beforeHour, description, enDescription,
        createTime, serverCode, serverName } = this.detail
      const { crsCode } = layoutDto || {}
      const productTypeIdx = this.productTypes ? this.productTypes.findIndex(item => item.value === productType) : -1
      const productTypeObj = productTypeIdx < 0 ? null : this.productTypes[productTypeIdx]
      let productText = productTypeObj ? productTypeObj.label : '--'
      if (`${productType}` === '1') {
        productText += `（${minOrderQuantity}个起售）`
      }

      const isEn = this.language === 'en'

      return [
        { label: '酒店产品编码', value: id },
        {
          label: '酒店产品展示图', prop: 'thumbnail', value: thumbnail || defaultImg,
          itemOptions: { rowspan: 3 }
        },
        { label: '最大连住天数', value: maxUseDay },
        { label: '最大可入住人数', value: guests },
        { empty: true },
        { label: '酒店产品名称', value: isEn ? enSkuName : productName },
        { label: '状态', value: this.hotelProductStatusMap[status] },
        { empty: true },
        { label: 'CRS房价码', value: crsPriceCode },
        { label: '创建时间', value: createTime },
        { label: 'CRS房型代码', value: crsCode },
        { label: 'CRS房价码名称', value: crsPriceName },
        { label: '最小连住天数', value: minUseDay },
        { label: '酒店服务代码', value: serverCode },
        { label: '酒店服务名称', value: serverName },
        { label: '游客类型', value: productText },
        { label: '提前入住时间(单位:h)', value: beforeHour },
        {
          label: '描述', prop: 'description', value: isEn ? enDescription : description,
          itemOptions: { colspan: 2 }
        }
      ]
    },
    // 退改规则
    ruleList() {
      const { retreatRuleObj, retreatRule, enRetreatRule } = this.detail
      const retreatRuleDesc = this.language === 'en' ? enRetreatRule : retreatRule
      const { name } = retreatRuleObj || {}
      return [
        { label: '选择规则', prop: 'retreatRuleObj', value: name, hide: !retreatRuleObj },
        { label: '退改规则', prop: 'retreatRule', value: retreatRuleDesc, hide: !retreatRuleDesc }
      ]
    }
  },
  created: async function() {
    await this.$store.dispatch('hotel/product_detail/getHotelProductDetail', this.$route.query.id)
    this.getProductTypes()
  },
  activated: async function() {
    await this.$store.dispatch('hotel/product_detail/getHotelProductDetail', this.$route.query.id)
    this.getProductTypes()
  },
  methods: {
    async getProductTypes() {
      try {
        const result = await this.$store.dispatch('base-setting/data-dict/detail/getDetail', 1)
        const { propValueDtoList } = result || {}
        this.productTypes = propValueDtoList ? propValueDtoList.map(dto => {
          return { label: dto.propValue, value: dto.constant }
        }) : []
      } catch (e) {
        console.log(e)
      }
    },
    handleLinkClick() {
      if (this.detail.retreatRuleId) {
        this.$router.push(`/base-setting/retreat-rule/detail?id=${this.detail.retreatRuleId}`)
      }
    },
    onPreview() {
      if (this.detail.thumbnail) {
        this.dialogVisible = true
      }
    },
    onChangeLanguage(tab) {
      let { index } = tab
      index = parseInt(index)
      const language = isNaN(index) ? '' : this.languages[index].value
      if (this.language === language) {
        return
      }
      this.language = language
    }
  }
}
</script>

<style scoped lang="less">
.app-container {
  position: relative;

  .multiLanguage {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 12px 24px;
  }

  .content-item {
    margin-bottom: 24px;
  }
}
</style>
