<template>
  <div ref="container" class="app-container">
    <EditTemplate
      ref="editTemplate"
      :rules="rules"
      :form-values="formValues"
      :loading="btnLoading"
      :multi-language="type === 'edit'"
      @submit="handleSubmit"
      @cancel="handleCancel"
      @on-change-language="onChangeLanguage"
    >
      <FormCard
        title="基础信息"
        :span="9"
        :form-props="basicInfoFormProps"
        :form-values="formValues"
        :language="language"
        :editable-fields="editableFields"
      />
      <FormCard
        title="酒店介绍"
        :form-props="hotelIntrFormProps"
        :form-values="formValues"
        :language="language"
        :editable-fields="editableFields"
      />
    </EditTemplate>
  </div>
</template>

<script>
import EditTemplate from 'dc-vue-components/components/EditTemplate'
import FormCard from 'dc-vue-components/components/FormCard'
import { hotelStatusMap as officeStatusMap, facilityFields } from './constants'
import siteConfig from '@/utils/config'
import { duplicateRulesOfEn } from '@/utils'

export default {
  name: 'HotelAdd',
  components: {
    EditTemplate,
    FormCard
  },
  data() {
    return {
      type: 'add',
      language: 'zh',
      regionNameField: 'name',
      hotelIntrFormProps: {
        formItemList: [
          {
            label: '一句话推荐',
            prop: 'recommendation',
            en_prop: 'enRecommendation',
            type: 'Input'
          },
          {
            type: 'Empty'
          },
          {
            label: '酒店介绍',
            prop: 'introduce',
            en_prop: 'enIntroduce',
            type: 'Textarea',
            rows: 6,
            width: '70%'
          }
        ]
      },
      rules: {
        hotelName: [{ required: true, message: '请输入酒店名称', pattern: '[^ \x22]+' }],
        crsCode: [{ required: true, message: '请输入CRS酒店代码', pattern: '[^ \x22]+' }],
        region: [{ required: true, message: '请选择所属区域' }],
        officeStatus: [{ required: true, message: '请选择营业状态', trigger: 'change' }],
        orgId: [{ required: true, message: '请选择所属组织', trigger: 'change' }]
      },
      btnLoading: false
    }
  },
  computed: {
    basicInfoFormProps: function() {
      const _t = this

      return {
        formItemList: [
          {
            label: '酒店名称',
            prop: 'hotelName',
            en_prop: 'enStoreName',
            type: 'Input',
            height: '56px'
          },
          {
            label: '酒店缩略图',
            prop: 'thumbnail',
            type: 'Upload',
            action: siteConfig.getBaseUrl() + '/file/upload/single',
            height: '168px',
            span: 13,
            style: { float: 'right' },
            colAttrs: { offset: 2 },
            unify: true
          },
          {
            label: 'CRS酒店代码',
            prop: 'crsCode',
            type: 'Input',
            height: '56px',
            unify: true
          },
          {
            label: '电话',
            prop: 'phone',
            type: 'Input',
            height: '56px',
            unify: true
          },
          {
            label: '网址',
            prop: 'internetSite',
            type: 'Input',
            unify: true
          },
          {
            label: '所在地区',
            prop: 'region',
            type: 'areaCascader',
            options: this.regionTreeData,
            props: { value: 'id', label: _t.regionNameField, children: 'children' },
            colAttrs: { offset: 2 },
            unify: true
          },
          {
            label: '营业状态',
            prop: 'officeStatus',
            type: 'Select',
            options: Object.keys(officeStatusMap).map(status => ({ value: status, label: officeStatusMap[status] })),
            unify: true
          },
          {
            label: '管理员邮箱',
            prop: 'adminEmail',
            type: 'Input',
            colAttrs: { offset: 2 },
            unify: true
          },
          {
            label: '具体地址',
            prop: 'address',
            en_prop: 'enAddress',
            type: 'Input',
            height: '56px'
          },
          {
            label: '地图经纬度',
            prop: 'map',
            type: 'Map',
            buttonText: '点击设置',
            title: '地图经纬度设置',
            colAttrs: { offset: 2 },
            maps: [
              // {
              //   mapName: '百度地图',
              //   longitude: 0,
              //   latitude: 0,
              //   instructions: '经纬度可以通过这个地址获取：',
              //   link: 'http://api.map.baidu.com/lbsapi/getpoint/index.html'
              // },
              {
                mapName: '高德地图',
                longitude: '',
                latitude: '',
                instructions: '可在APP使用，经纬度可以通过这个地址获取：',
                link: 'http://lbs.amap.com/console/show/picker'
              }
              // {
              //   mapName: '腾讯地图',
              //   longitude: 0,
              //   latitude: 0,
              //   instructions: '可在小程序中使用，经纬度可以通过这个地址获取：',
              //   link: 'https://lbs.qq.com/tool/getpoint/index.html'
              // },
            ],
            unify: true
          },
          {
            label: '所属组织',
            prop: 'orgId',
            type: 'Cascader',
            buttonText: '选择',
            props: { value: 'id', label: 'deptName', children: 'children', emitPath: false, checkStrictly: true },
            options: this.$store.state.common.depTreeData,
            unify: true
          },
          {
            label: '酒店配套设施',
            prop: 'facilities',
            en_prop: 'enFacilities',
            type: 'CheckBox',
            span: 24,
            value: [],
            options: facilityFields.map(facility => facility[_t.language]),
            unify: true
          },
          {
            label: '备注',
            prop: 'remark',
            en_prop: 'enNotice',
            type: 'Textarea',
            rows: 2,
            span: 20
          }
        ]
      }
    },
    editableFields: function() {
      const fields = this.basicInfoFormProps.formItemList.filter(field => {
        if (this.type !== 'edit') {
          return true
        }

        if (field.prop === 'crsCode') {
          return false
        }

        return this.language === 'zh' || !field.unify
      }).concat(this.hotelIntrFormProps.formItemList)

      return fields.map(field => {
        if (this.language === 'zh') {
          return field.prop
        }

        return field.en_prop || field.prop
      })
    },
    depTreeData: function() {
      return this.$store.state.common.depTreeData
    },
    regionTreeData: function() {
      const { regionTreeData } = this.$store.state.common
      return regionTreeData
    },
    regionMap: function() {
      return this.$store.state.common.regionMap
    },
    formValues: {
      get() {
        return this.$store.state['hotel/add'].formValues
      },
      set(val) {
        this.$store.commit('hotel/add/SET_STATE', { formValues: val })
      }
    }
  },
  watch: {
    depTreeData: function(val) {
      const _t = this
      _t.basicInfoFormProps.formItemList.some((item, index) => {
        if (item.prop === 'orgId') {
          _t.$set(_t.basicInfoFormProps.formItemList, index, {
            ...item,
            options: val
          })
          return true
        }
      })
    },
    regionTreeData: function(val) {
      const _t = this
      _t.basicInfoFormProps.formItemList.some((item, index) => {
        if (item.prop === 'region') {
          _t.$set(_t.basicInfoFormProps.formItemList, index, {
            ...item,
            options: val
          })
          return true
        }
      })
    }
  },

  activated: function() {
    const { type = 'add' } = this.$route.query
    this.type = type
    this.regionNameField = this.language === 'en' ? 'pinyin' : 'name'
    this.$refs.editTemplate.$refs.ruleForm.clearValidate()
    this.fetchData()
  },
  created: function() {
    const { type = 'add' } = this.$route.query
    this.type = type
    this.regionNameField = this.language === 'en' ? 'pinyin' : 'name'
    duplicateRulesOfEn(this.rules, this.basicInfoFormProps, this.hotelIntrFormProps)
    this.fetchData()
  },
  methods: {
    handleSubmit: async function() {
      const _t = this
      const data = { ...this.formValues }
      if (data.region) {
        const codes = ['province', 'city', 'district']
        const names1 = ['provinceName', 'cityName', 'districtName']
        const names2 = ['enProvinceName', 'enCityName', 'enDistrictName']
        const names = this.language === 'en' ? names2 : names1
        codes.forEach((paramKey, index) => {
          const val = data.region[index]
          if (val) {
            data[paramKey] = val
            const nameKey = names[index]
            data[nameKey] = _t.regionMap[val][_t.regionNameField]
          }
        })
        delete data.region
      }
      if (data.orgId) {
        const orgName = this.language === 'en' ? 'enOrgName' : 'orgName'
        data[orgName] = this.$refs.container.querySelector('[name=orgId] .el-input__inner').value
      }

      this.btnLoading = true
      try {
        let result
        if (_t.type !== 'edit') {
          result = await this.$store.dispatch('hotel/add/createHotel', data)
        } else if (this.language === 'en') {
          const { enFacilities } = data
          const json = enFacilities ? JSON.stringify(enFacilities) : null

        } else {
          result = await this.$store.dispatch('hotel/add/updateHotel', data)
        }
        const { resultCode } = result || {}
        if ('' + resultCode === '0') {
          this.formValues = { facilities: [], enFacilities: [] }
          this.$store.dispatch('tagsView/delView', this.$route)
          this.$router.replace('/products/hotel/hotel_list')
        }
      } catch (e) {
        console.log('create hotel error:', e)
      }
      this.btnLoading = false
    },
    handleCancel() {
      this.$store.dispatch('tagsView/delView', this.$route)
      this.$router.replace('/products/hotel/hotel_list')
    },
    async fetchData() {
      const _t = this
      this.$store.dispatch('common/getOrg')
      if (_t.type !== 'edit') {
        return
      }

      try {
        let detail = await this.$store.dispatch('hotel/add/getHotelDetail', this.$route.query.id)
        detail = detail || {}
        const { facilities } = detail
        const enFacilities = []
        facilities && facilities.forEach(facilityZh => {
          const index = facilityFields.findIndex(item => item.zh === facilityZh)
          const facilityEn = facilityFields[index].en
          enFacilities.push(facilityEn)
        })
        Object.assign(detail, { enFacilities })

        const region = [];
        ['province', 'city', 'district'].forEach(regionKey => {
          if (detail[regionKey]) {
            region.push(detail[regionKey])
          }
        })
        _t.formValues = { ...detail, region }
      } catch (e) {
        console.log(e)
      }
    },
    onChangeLanguage(language) {
      this.language = language
      this.regionNameField = this.language === 'en' ? 'pinyin' : 'name'
    }
  }
}
</script>

<style lang="less" scoped>
  .card-container {
    .formItemSty {
      margin-left: 0;
    }
  }
</style>
