<template>
  <div class="app-container">
    <ListPage ref="listPage" :page-props="pageProps" title="酒店产品列表">
      <template v-slot:crsCode="{row}">{{ row.layoutDto ? row.layoutDto.crsCode : '' }}</template>
      <template v-slot:layoutName="{row}">{{ row.layoutDto ? row.layoutDto.layoutName : '' }}</template>
      <template v-slot:belongedHotel="{row}">{{ row.hotelDto ? row.hotelDto.hotelName : '' }}</template>
      <template v-slot:status="{row}">
        <el-badge v-if="row.status" :type="row.status === '1' ? 'success' : 'danger'" is-dot>{{ hotelProductStatusMap[row.status] }}</el-badge>
      </template>
    </ListPage>
  </div>
</template>

<script>
import ListPage from 'dc-vue-components/components/ListPage'
import { hotelProductStatusMap } from './constants'
import request from '@/utils/request'
import { checkBtnPermByCode } from '@/utils/util'

export default {
  name: 'HotelProductList',
  components: {
    ListPage
  },
  props: {},
  data: function() {
    return {
      hotelProductStatusMap,
      isPrepareDataLoading: false,
      requestedPrepareData: false
    }
  },
  computed: {
    crsCodeList: function() {
      return this.$store.state['hotel/hotel-type-list'].crsCodeList
    },
    hotelList: function() {
      return this.$store.state['hotel/list'].hotelList
    },
    pageProps() {
      const _t = this
      const obj = {
        ui: {
          api_url: 'hotel/product/queryList',
          method: 'POST',
          params: {}, // string or object
          search_bar: {
            fields: [
              {
                en_name: 'id',
                zh_name: '酒店产品编码',
                elem_type: 'Number'
              },
              {
                en_name: 'productName',
                zh_name: '酒店产品名称',
                elem_type: 'Input'
              },
              {
                en_name: 'crsCodes',
                zh_name: 'CRS房型代码',
                elem_type: 'Select',
                cmpt_options: this.crsCodeList,
                multiple: true
              },
              {
                en_name: 'hotelIds',
                zh_name: '所属酒店',
                elem_type: 'Select',
                cmpt_options: this.hotelList,
                multiple: true
              },
              {
                en_name: 'status',
                zh_name: '状态',
                elem_type: 'Select',
                cmpt_options: [{ label: '全部', value: '' }].concat(Object.keys(hotelProductStatusMap).map(status => ({ label: hotelProductStatusMap[status], value: status })))
              }
            ],
            handleParams(params) {
              params = params || {}
              const { hotelIds } = params

              if (hotelIds && hotelIds.length) {
                return params
              }

              const array = _t.hotelList && Array.isArray(_t.hotelList) ? _t.hotelList.map(item => item.value) : []
              array.length && Object.assign(params, { hotelIds: array })
              return params
            }
          },
          action_bar: [
            {
              label: '新增酒店产品',
              click: function() {
                _t.$store.commit('hotel/product_add/SET_STATE', { detail: {}})
                _t.$router.push({ path: '/products/hotel/hotel_product_edit', query: { type: 'add' }})
              },
              shouldShow: checkBtnPermByCode('HOTEL_PROD_LIST-ADD'),
              iconClass: 'iconicon_plus1'
            },
            {
              label: '批量启用',
              click: function() {
                const ids = _t.$refs.listPage.multipleSelection.map(item => item.id)
                if (!ids.length) {
                  _t.$message('请选择要批量启用的酒店产品')
                  return
                }
                _t.updateStatus(ids)
              },
              shouldShow: checkBtnPermByCode('HOTEL_PROD_LIST-BATCH-ENABLE')
            },
            {
              label: '批量停用',
              click: function() {
                const ids = _t.$refs.listPage.multipleSelection.map(item => item.id)
                if (!ids.length) {
                  _t.$message('请选择要批量停用的酒店产品')
                  return
                }
                _t.updateStatus(ids)
              },
              shouldShow: checkBtnPermByCode('HOTEL_PROD_LIST-BATCH-DISABLE')
            }
          ], //
          mockData: null,
          table: {
            extProps: {
              // extra property, will be directly apply to the el-table element
            },
            events: {}, // event listener provided to el-table
            selection: 'multiple', // can be false, single, multiple
            fields: [
              {
                en_name: 'id',
                zh_name: '酒店产品编码',
                width: '200'
              },
              {
                en_name: 'productName',
                zh_name: '酒店产品名称',
                minWidth: '140'
              },
              {
                en_name: 'crsCode',
                zh_name: 'CRS房型代码',
                minWidth: '130'
              },
              {
                en_name: 'layoutName',
                zh_name: '房型名称',
                minWidth: '130'
              },
              {
                en_name: 'belongedHotel',
                zh_name: '所属酒店',
                minWidth: '160'
              },
              {
                en_name: 'updateTime',
                zh_name: '更新时间',
                minWidth: '200'
              },
              {
                en_name: 'status',
                zh_name: '状态',
                minWidth: '108'
              }
            ],
            actions: [
              {
                label: '查看',
                shouldShow: row => checkBtnPermByCode('HOTEL_PROD_LIST-DETAIL'),
                getLinkUrl: row => `#/products/hotel/hotel_product_detail?id=${row.id}`
              },
              {
                label: '编辑',
                shouldShow: row => checkBtnPermByCode('HOTEL_PROD_LIST-EDIT'),
                getLinkUrl: row => `#/products/hotel/hotel_product_edit?type=edit&id=${row.id}`
              },
              {
                label: '禁用',
                shouldShow: row => checkBtnPermByCode('HOTEL_PROD_LIST-DISABLE') && row.status * 1 === 1,
                getConfirmTitle: () => '禁用',
                funcName: 'onDisable',
                method: 'PUT',
                getConfirmContent: row => `确定要禁用‘${row.productName}’吗？`,
                getApiUrl: row => `hotel/product/updateStatus`,
                handleParams: row => [row.id]
              },
              {
                label: '启用',
                shouldShow: row => checkBtnPermByCode('HOTEL_PROD_LIST-ENABLE') && row.status * 1 === 0,
                funcName: 'onEnable',
                method: 'PUT',
                getConfirmTitle: () => '启用',
                getConfirmContent: row => `确定要启用‘${row.productName}’吗？`,
                getApiUrl: row => `hotel/product/updateStatus`,
                handleParams: row => [row.id]
              },
              {
                label: '删除',
                shouldShow: row => checkBtnPermByCode('HOTEL_PROD_LIST-DELETE'),
                funcName: 'onDelete',
                method: 'POST',
                getConfirmContent: row => `删除后不可恢复, 确定要删除‘${row.productName}’吗？`,
                getApiUrl: row => `hotel/product/delete/${row.id}`
              }
            ],
            actionWidth: 240
          } // object or object array
        }
      }
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'crsCodes') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.crsCodeList })
          return true
        }
      })
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'hotelIds') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.hotelList })
          return true
        }
      })
      return obj
    }
  },
  created() {
    this.getPrepareData()
  },
  activated: function() {
    this.getPrepareData()
  },
  methods: {
    async getPrepareData() {
      if (this.requestedPrepareData || this.isPrepareDataLoading) {
        return
      }

      this.isPrepareDataLoading = true
      try {
        await Promise.all([
          this.$store.dispatch('hotel/hotel-type-list/getLayoutCrsCodes'),
          this.$store.dispatch('hotel/list/getHotels')
        ])
        this.requestedPrepareData = true
        this.$refs.listPage.getListData()
      } catch (e) {
        console.log('xxx getPrepareData: error ==>', e)
      }
      this.isPrepareDataLoading = false
    },
    async updateStatus(ids) {
      const _t = this
      const { resultCode } = await request({
        url: 'hotel/product/updateStatus',
        method: 'PUT',
        data: ids
      })
      if ('' + resultCode === '0') {
        _t.$refs.listPage.getListData()
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .app-container /deep/ .el-badge{
    padding-left: 6px;
  }
  .app-container /deep/ .el-badge__content{
    top: 11px;
    left: -16px;
  }
</style>
