
<template>
  <div class="app-container">
    <EditTemplate
      ref="editContainer"
      :rules="rules"
      :form-values="formValues"
      :multi-language="type === 'edit'"
      class="edit-container"
      label-width="150px"
      @submit="handleSubmit"
      @cancel="handleCancel"
      @on-change-language="onChangeLanguage"
    >
      <FormCard
        title="基础信息"
        :form-props="basicInfoFormProps"
        :form-values="formValues"
        :language="language"
        :editable-fields="editableFields"
        :span="12"
      />
      <FormCard v-if="type === 'edit'" title="关联的酒店" :form-values="formValues" style="display: none" />
    </EditTemplate>
  </div>
</template>

<script>
import EditTemplate from 'dc-vue-components/components/EditTemplate'
import FormCard from 'dc-vue-components/components/FormCard'
import { duplicateRulesOfEn } from '@/utils'
import { houseLayoutStatusMap } from './constants'

export default {
  name: 'HouseTypeEdit',
  components: {
    EditTemplate,
    FormCard
  },
  data() {
    return {
      id: '',
      type: 'add',
      language: 'zh',
      basicInfoFormProps: {
        formItemList: [
          { label: 'CRS房型代码', prop: 'crsCode', type: 'Input', span: 9, unify: true
          },
          { label: '房型面积(平方米)', prop: 'area', type: 'InputNumber', controls: false,
            min: 0, span: 9, colAttrs: { offset: 3 }, unify: true
          },
          { label: '房型名称', prop: 'layoutName', en_prop: 'enPropName', type: 'Input', precision: 1,
            span: 9
          },
          { label: '景观', prop: 'landscape', en_prop: 'enLandscape', type: 'Input',
            span: 9, colAttrs: { offset: 3 }
          },
          { label: '床型', prop: 'badTypes', type: 'CheckBox', span: 24, value: [],
            options: [
              '1.5米大床',
              '1.8米大床',
              '2米大床',
              '1.35米双床',
              '1.5米双床',
              '1.8米双床',
              '0.9米单床',
              '1.05米单床',
              '1.2米单床',
              '1.35米单床',
              '1.5米单床'
            ], unify: true
          },
          { label: '状态', prop: 'status', type: 'Select', span: 9,
            options: Object.keys(houseLayoutStatusMap).map(status => ({ label: houseLayoutStatusMap[status], value: status })),
            unify: true
          },
          { label: '楼层', prop: 'floor', type: 'Input',
            span: 9, colAttrs: { offset: 3 },
            unify: true
          },
          { label: '描述', prop: 'description', en_prop: 'enDescription', type: 'Textarea', rows: 2, span: 21 }
        ]
      },
      rules: {
        crsCode: [{ required: true, message: '请输入CRS房型代码', pattern: '[^ \x22]+' }],
        layoutName: [{ required: true, message: '请输入房型名称', pattern: '[^ \x22]+' }],
        status: [{ required: true, message: '请选择状态', trigger: 'change' }]
      }
    }
  },
  computed: {
    editableFields: function() {
      const fields = this.basicInfoFormProps.formItemList.filter(field => {
        return this.type !== 'edit' || this.language === 'zh' || !field.unify
      })
      return fields.map(field => {
        if (this.language === 'zh') {
          return field.prop
        }

        return field.en_prop || field.prop
      })
    },
    formValues: {
      get() {
        return this.$store.state['hotel/house-type-add'].detail
      },
      set(val) {
        this.$store.commit('hotel/house-type-add/SET_STATE', { formValues: val })
      }
    }
  },
  activated: function() {
    const { type = 'add', id } = this.$route.query
    this.id = id
    this.type = type
    this.$refs.editContainer.$refs.ruleForm.clearValidate()
    this.getDetail()
  },
  created: function() {
    const { type = 'add', id } = this.$route.query
    this.id = id
    this.type = type

    duplicateRulesOfEn(this.rules, this.basicInfoFormProps)

    this.getDetail()
  },
  methods: {
    async getDetail() {
      if (!this.id) {
        return
      }

      try {
        await this.$store.dispatch('hotel/house-type-add/getHouseTypeDetail', this.id)
      } catch (e) {
        console.log(e)
      }
    },
    async handleSubmit() {
      let result
      if (this.type !== 'edit') {
        result = await this.$store.dispatch('hotel/house-type-add/addHotelHouseType', this.formValues)
      } else {
        result = await this.$store.dispatch('hotel/house-type-add/updateHotelHouseType', this.formValues)
      }
      const { resultCode } = result || {}
      if ('' + resultCode === '0') {
        this.$store.dispatch('tagsView/delView', this.$route)
        this.$router.replace({ path: '/products/hotel/house_type_list' })
      }
    },
    handleCancel() {
      this.$store.dispatch('tagsView/delView', this.$route)
      this.$router.replace({ path: '/products/hotel/house_type_list' })
    },
    onChangeLanguage(language) {
      this.language = language
    }
  }
}
</script>
<style lang="less">
.btnGroup{
    display:flex;
    justify-content: center;
    margin: 12px 0 -18px;
}
</style>

<style lang="less" scoped>
  .edit-container {
    /deep/ .formItemSty {
      margin-left: 0;
      width: 50% !important;
    }
  }
</style>
