<template>
  <div class="app-container">
    <el-tabs
      class="multiLanguage"
      @tab-click="onChangeLanguage"
    >
      <el-tab-pane
        v-for="(lang, langIndex) in languages"
        :key="langIndex"
        :label="lang.label"
      />
    </el-tabs>
    <el-card header="基础信息" shadow="never" class="content-item">
      <Descriptions :list="baseInfoList">
        <!-- 床型 -->
        <template v-slot:badTypes="{row}">
          <span v-for="(badType, index) in row.value" :key="index" style="margin-right: 8px">{{ badType }}</span>
        </template>
        <!-- 描述 -->
        <template v-slot:description="{row}">
          <pre>{{ row.value || '--' }}</pre>
        </template>
      </Descriptions>
    </el-card>

    <el-card header="关联的酒店" shadow="never">
      <el-table :data="detail.hotelDtos || []">
        <el-table-column label="酒店名称" prop="hotelName" />
        <el-table-column label="CRS酒店代码" prop="crsCode" />
        <el-table-column label="所在地区">
          <template v-slot:default="{row}">{{ row.provinceName }}/{{ row.cityName }}/{{ row.districtName }}</template>
        </el-table-column>
        <el-table-column label="所属组织" prop="orgName" />
        <el-table-column label="状态" prop="officeStatus">
          <template v-slot:default="{row}">{{ hotelStatusMap[row.officeStatus] }}</template>
        </el-table-column>
        <el-table-column label="操作" width="100">
          <template v-slot:default="{row}">
            <el-link :underline="false" type="primary" @click="removeRelatedHotel(row)">解除关联</el-link>
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
import { hotelStatusMap, houseLayoutStatusMap } from './constants'
import { languages } from '@/utils/consts'
import Descriptions from 'dc-vue-components/components/Descriptions'

export default {
  name: 'HouseTypeDetail',
  components: {
    Descriptions
  },
  props: [],
  data: function() {
    return {
      houseLayoutStatusMap,
      hotelStatusMap,
      language: 'zh',
      languages
    }
  },
  computed: {
    detail: function() {
      return this.$store.state['hotel/house-type-detail'].detail
    },
    // 基础信息
    baseInfoList() {
      const { enId, id, crsCode, createPerson, layoutName, enPropName, landscape, enLandscape,
        updatePerson, badTypes, area, createTime, floor, status, updateTime, description, enDescription } = this.detail
      if (this.language === 'zh') {
        return [
          { label: '酒店房型编码', value: id },
          { label: 'CRS酒店代码', value: crsCode },
          { label: '创建人', value: createPerson },
          { label: '房型名称', value: layoutName },
          { label: '景观', value: landscape },
          { label: '修改人', value: updatePerson },
          { label: '床型', prop: 'badTypes', value: badTypes },
          { label: '房型面积', value: area },
          { label: '创建时间', value: createTime },
          { label: '楼层', value: floor },
          { label: '状态', value: this.houseLayoutStatusMap[status] },
          { label: '修改时间', value: updateTime },
          { label: '描述', prop: 'description', value: description }
        ]
      }

      return [
        { label: '酒店房型编码', value: enId },
        { label: 'CRS酒店代码', value: crsCode },
        { label: '创建人', value: createPerson },
        { label: '房型名称', value: enPropName },
        { label: '景观', value: enLandscape },
        { label: '修改人', value: updatePerson },
        { label: '床型', prop: 'badTypes', value: badTypes },
        { label: '房型面积', value: area },
        { label: '创建时间', value: createTime },
        { label: '楼层', value: floor },
        { label: '状态', value: this.houseLayoutStatusMap[status] },
        { label: '修改时间', value: updateTime },
        { label: '描述', prop: 'description', value: enDescription }
      ]
    }
  },
  activated: function() {
    this.getDetail(this.$route.query.id)
  },
  created: function() {
    this.getDetail(this.$route.query.id)
  },
  methods: {
    async getDetail(id) {
      try {
        await this.$store.dispatch('hotel/house-type-detail/getHouseTypeDetail', id)
      } catch (e) {
        console.log(e)
      }
    },
    removeRelatedHotel(row) {
      const _t = this
      _t.$confirm(`确定要解除与‘${row.hotelName}’的关联吗？`, '解除关联', {
        type: 'warning'
      }).then(async function() {
        const params = {
          storeId: row.id,
          specificationId: _t.$route.query.id
        }
        const { resultCode } = await _t.$store.dispatch('hotel/house-type-detail/delRelateHotel', params)
        if ('' + resultCode === '0') {
          _t.detail.hotelDtos = (_t.detail.hotelDtos || []).filter(hotel => hotel.id !== row.id)
        }
      })
    },
    onChangeLanguage(tab) {
      let { index } = tab
      index = parseInt(index)
      const language = isNaN(index) ? '' : this.languages[index].value
      if (this.language === language) {
        return
      }
      this.language = language
    }
  }
}
</script>

<style scoped lang="less">
.app-container {
  position: relative;

  .multiLanguage {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 12px 24px;
  }

  .content-item {
    margin-bottom: 24px;
  }
}
</style>
