<template>
  <div class="app-container">
    <ListPage ref="listPage" :page-props="pageProps" title="酒店房型列表">
      <template v-slot:status="{row}">
        <el-badge v-if="row.status" :type="row.status === '1' ? 'success' : 'danger'" is-dot>{{ houseLayoutStatusMap[row.status] }}</el-badge>
      </template>
      <template v-slot:houseTypeName="{row}">{{ row.hotelDtos && row.hotelDtos.map(item => item.hotelName).join('，') }}</template>
      <template v-slot:badTypes="{row}">{{ row.badTypes && row.badTypes.join('，') }}</template>
    </ListPage>
    <el-dialog
      title="关联酒店"
      :visible.sync="dlgVisible"
      class="dialog"
      width="1050px"
    >
      <ListPage v-if="dlgVisible" ref="hotelList" :page-props="hotelPageProps" class="hotel-list">
        <template v-slot:officeStatus="{row}">
          <el-badge v-if="row.officeStatus" :type="row.officeStatus === '1' ? 'success' : 'info'" is-dot>{{ hotelStatusMap[row.officeStatus] }}</el-badge>
        </template>
        <template v-slot:region="{row}">{{ row.provinceName }}/{{ row.cityName }}/{{ row.districtName }}</template>
      </ListPage>
      <div slot="footer">
        <el-button :disabled="relating" @click="dlgVisible=false">取 消</el-button>
        <el-button :loading="relating" type="primary" @click="handleRelateHotel">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import ListPage from 'dc-vue-components/components/ListPage'
import { houseLayoutStatusMap, hotelStatusMap } from './constants'
import { checkBtnPermByCode } from '@/utils/util'

export default {
  name: 'HotelTypeList',
  components: {
    ListPage
  },
  props: {},
  data: function() {
    return {
      houseLayoutStatusMap,
      hotelStatusMap,
      dlgVisible: false,
      curRow: null,
      relating: false,
      isPrepareDataLoading: false,
      requestedPrepareData: false
    }
  },
  computed: {
    pageProps: function() {
      const _t = this
      const obj = {
        ui: {
          api_url: 'hotel/layout/queryList',
          method: 'POST',
          params: {}, // string or object
          search_bar: {
            fields: [
              { en_name: 'id', zh_name: '酒店房型编码', elem_type: 'Number' },
              { en_name: 'crsCodes', zh_name: 'CRS房型代码', elem_type: 'Select', multiple: true, cmpt_options: [] },
              { en_name: 'layoutName', zh_name: '房型名称', elem_type: 'Input' },
              { en_name: 'hotelIds', zh_name: '所属酒店', elem_type: 'Select', multiple: true, cmpt_options: '' },
              { en_name: 'status',
                zh_name: '状态',
                elem_type: 'Select',
                cmpt_options: [{
                  label: '全部',
                  value: ''
                }].concat(Object.keys(houseLayoutStatusMap).map(status => ({ label: houseLayoutStatusMap[status], value: status })))
              }
            ]
          },
          action_bar: [
            {
              label: '新增房型',
              click: function() {
                _t.$store.commit('hotel/house-type-add/SET_STATE', { detail: { badTypes: [] }})
                _t.$router.push({ path: '/products/hotel/house_type_edit', query: { type: 'add' }})
              },
              shouldShow: checkBtnPermByCode('HOTEL_TYPE_LIST-ADD'),
              iconClass: 'iconicon_plus1'
            }
          ], //
          mockData: null,
          table: {
            extProps: {
              // extra property, will be directly apply to the el-table element
            },
            events: {}, // event listener provided to el-table
            fields: [
              { en_name: 'id', zh_name: '酒店房型编码', width: '200' },
              { en_name: 'crsCode', zh_name: 'CRS房型代码', minWidth: '130' },
              { en_name: 'layoutName', zh_name: '房型名称', minWidth: '130' },
              { en_name: 'houseTypeName', zh_name: '所属酒店', minWidth: '160' },
              { en_name: 'landscape', zh_name: '景观', minWidth: '100' },
              { en_name: 'badTypes', zh_name: '床型', minWidth: '130' },
              { en_name: 'area', zh_name: '房型面积(平方米)', minWidth: '160' },
              { en_name: 'updateTime', zh_name: '更新时间', minWidth: '200' },
              { en_name: 'status', zh_name: '状态', minWidth: '108' }
            ],
            actions: [
              {
                label: '查看',
                shouldShow: row => checkBtnPermByCode('HOTEL_TYPE_LIST-DETAIL'),
                getLinkUrl: row => `#/products/hotel/house_type_detail?id=${row.id}`
              },
              {
                label: '编辑',
                shouldShow: row => checkBtnPermByCode('HOTEL_TYPE_LIST-EDIT'),
                getLinkUrl: row => `#/products/hotel/house_type_edit?type=edit&id=${row.id}`
              },
              {
                label: '启用',
                funcName: 'onEnable',
                shouldShow: row => row.status + '' === '0' && checkBtnPermByCode('HOTEL_TYPE_LIST-ENABLE'),
                getApiUrl: row => `hotel/layout/updateStatus/${row.id}`,
                handleParams: row => null,
                getConfirmTitle: row => '启用',
                getConfirmContent: row => `确定要启用‘${row.layoutName}’吗？`,
                method: 'PUT'
              },
              {
                label: '禁用',
                funcName: 'onDisable',
                shouldShow: row => row.status + '' === '1' && checkBtnPermByCode('HOTEL_TYPE_LIST-DISABLE'),
                getApiUrl: row => `hotel/layout/updateStatus/${row.id}`,
                handleParams: row => null,
                getConfirmTitle: row => '禁用',
                getConfirmContent: row => `确定要禁用‘${row.layoutName}’吗？`,
                method: 'PUT'
              },
              {
                label: '关联酒店',
                shouldShow: row => checkBtnPermByCode('HOTEL_TYPE_LIST-RELATE-HOTEL'),
                click: function(row) {
                  _t.curRow = row
                  _t.dlgVisible = true
                }
              },
              {
                label: '删除',
                shouldShow: row => checkBtnPermByCode('HOTEL_TYPE_LIST-DELETE'),
                funcName: 'onDelete',
                method: 'POST',
                getConfirmContent: row => `删除后不可恢复，确定要删除‘${row.layoutName}’吗？`,
                getApiUrl: row => `hotel/layout/delete/${row.id}`,
                handleParams: row => null,
                callback: () => _t.$store.dispatch('hotel/hotel-type-list/getLayoutCrsCodes')
              }
            ],
            actionWidth: 260
          } // object or object array
        }
      }
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'crsCodes') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.crsCodeList })
        }
      })
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'hotelIds') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.allHotels })
        }
      })
      return obj
    },
    hotelPageProps: function() {
      const _t = this
      const obj = {
        ui: {
          api_url: 'hotel/queryList',
          method: 'POST',
          params: {
            pageSize: 5
          },
          search_bar: {
            fields: [
              { en_name: 'hotelName', zh_name: '酒店名称', elem_type: 'Input', labelWidth: '80px' },
              { en_name: 'crsCodes', zh_name: 'CRS酒店代码', elem_type: 'Select', labelWidth: '110px', multiple: true,
                attrs: {
                  filterable: true
                }},
              {
                en_name: 'officeStatus', zh_name: '营业状态', elem_type: 'Select', labelWidth: '80px',
                cmpt_options: Object.keys(hotelStatusMap).map(val => ({ value: val, label: hotelStatusMap[val] }))
              }
            ]
          },
          table: {
            selection: 'single',
            fields: [
              { en_name: 'hotelName', zh_name: '酒店名称' },
              { en_name: 'crsCode', zh_name: 'CRS酒店代码' },
              { en_name: 'region', zh_name: '所在地区' },
              { en_name: 'orgName', zh_name: '所属组织' },
              { en_name: 'createTime', zh_name: '创建时间', width: '200' },
              { en_name: 'officeStatus', zh_name: '状态' }
            ]
          }
        }
      }
      obj.ui.search_bar.fields.some((field, index) => {
        if (field.en_name === 'crsCodes') {
          _t.$set(obj.ui.search_bar.fields, index, { ...field, cmpt_options: _t.hotelCrsCodeList })
          return true
        }
      })
      return obj
    },
    crsCodeList: function() {
      return this.$store.state['hotel/hotel-type-list'].crsCodeList
    },
    allHotels: function() {
      return this.$store.state['hotel/hotel-type-list'].hotels
    },
    hotelCrsCodeList: function() {
      return this.$store.state['hotel/list'].crsCodeList
    }
  },
  created: function() {
    this.getPrepareData()
  },
  activated: function() {
    this.getPrepareData()
  },
  methods: {
    async getPrepareData() {
      if (this.requestedPrepareData || this.isPrepareDataLoading) {
        return
      }

      this.isPrepareDataLoading = true
      try {
        await Promise.all([
          this.$store.dispatch('hotel/hotel-type-list/getLayoutCrsCodes'),
          this.$store.dispatch('hotel/hotel-type-list/getAllHotel'),
          this.$store.dispatch('hotel/list/getHotelCrsCodes')
        ])
        this.requestedPrepareData = true
        this.$refs.listPage.getListData()
      } catch (e) {
        console.log('xxx getPrepareData: error ==>', e)
      }
      this.isPrepareDataLoading = false
    },
    async handleRelateHotel() {
      const chosenHotel = this.$refs.hotelList.currentRow
      if (chosenHotel) {
        this.relating = true
        try {
          const { resultCode } = await this.$store.dispatch('hotel/hotel-type-list/houseTypeRelateHotel', {
            storeId: chosenHotel.id,
            specificationId: this.curRow.id
          })
          if ('' + resultCode === '0') {
            this.$message({ type: 'success', message: '关联成功' })
            this.dlgVisible = false
            this.$refs.listPage.getListData() // 刷新列表
          }
        } catch (e) {
          console.log('relate hotel error:', e)
        }
        this.relating = false
      } else {
        this.dlgVisible = false
      }
    }
  }
}
</script>

<style lang="less" scoped>

  .app-container {
    /deep/ .el-badge{
      padding-left: 6px;
    }
    /deep/ .el-badge__content{
      top: 11px;
      left: -16px;
    }
    .dialog{
      /deep/ .el-dialog__body{
        padding: 0;
      }
      .hotel-list{
        /deep/ .list-part{
          width: 100%;
        }
      }
    }
  }
</style>
