
<template>
  <div class="app-container">
    <ListPage ref="listPage" :page-props="pageProps" title="景区列表">
      <template v-slot:officeStatus="{row}">
        <el-badge v-if="row.officeStatus" :type="row.officeStatus === '1' ? 'success' : 'info'" is-dot>{{ officeStatusMap[row.officeStatus] }}</el-badge>
      </template>
      <template v-slot:provinceName="{row}">{{ `${row.provinceName || ''}${row.cityName || ''}${row.districtName || ''}` }}</template>
    </ListPage>
  </div>
</template>

<script>
import ListPage from 'dc-vue-components/components/ListPage'
import { officeStatusMap } from './consts'
import { checkBtnPermByCode } from '@/utils/util'

export default {
  name: 'ScenicAreaList',
  components: {
    ListPage
  },
  data: function() {
    const _t = this
    return {
      officeStatusMap,
      pageProps: {
        ui: {
          title: '景区列表',
          tree: {
            showTree: true,
            data: [{
              id: 1,
              deptName: '云徙科技',
              children: [
                {
                  id: 1.1,
                  deptName: '杭州云徙科技有限公司'
                },
                {
                  id: 1.2,
                  deptName: '广州云徙科技有限公司'
                }
              ]
            }]
          },
          api_url: '/scenic/queryList',
          method: 'POST',
          params: {}, // string or object
          search_bar: {
            fields: [
              {
                en_name: 'scenicName',
                zh_name: '景区名称',
                elem_type: 'Input'
              },
              {
                en_name: 'id',
                zh_name: '景区编码',
                elem_type: 'Number'
              }
            ],
            handleParams(params) {
              params.test = 'demo'
              return params
            }
          },
          action_bar: [
            {
              label: '新增景区',
              click: function() {
                _t.$router.push('/products/scenic_area/scenic_area_add?type=add')
              },
              shouldShow: checkBtnPermByCode('SCENIC_LIST-ADD'),
              iconClass: 'iconicon_plus1'
            }
          ], //
          mockData: null,
          table: {
            extProps: {
              // extra property, for example rowSelection
            },
            fields: [
              {
                en_name: 'id',
                zh_name: '景区编号',
                width: '200'
              },
              {
                en_name: 'scenicName',
                zh_name: '景区名称',
                minWidth: '130'
              },
              {
                en_name: 'provinceName',
                zh_name: '所属地区',
                minWidth: '200'
              },
              {
                en_name: 'officeStatus',
                zh_name: '营业状态',
                minWidth: '108'
              }
            ],
            actions: [
              {
                label: '查看',
                shouldShow: row => checkBtnPermByCode('SCENIC_LIST-DETAIL'),
                getLinkUrl: row => `#/products/scenic_area/scenic_area_detail?id=${row.id}`
              },
              {
                label: '删除',
                funcName: 'onDelete',
                getApiUrl: row => 'scenic/delete/' + row.id,
                method: 'DELETE',
                getConfirmContent(row) {
                  return `确定要删除‘${row.scenicName}’吗？`
                }
              }
            ],
            actionWidth: 180
          } // object or object array
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .app-container /deep/ .el-badge{
    padding-left: 6px;
  }
  .app-container /deep/ .el-badge__content{
    top: 11px;
    left: -16px;
  }
</style>
