<script>
export default {
  name: 'MenuItem',
  functional: true,
  props: {
    icon: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    opened: {
      type: Boolean
    },
    level: {
      type: Number,
      default: 0
    }
  },
  render(h, context) {
    const { icon, title, opened, level } = context.props
    const vnodes = []
    const marginLeft = opened ? '12px' : 0

    if (icon && level === 1) {
      const withPrefix = 'iconfont ' + icon
      vnodes.push(<i class={withPrefix}></i>)
    }
    // if (icon) {
    //   vnodes.push(<svg-icon icon-class={icon}/>)
    // }

    if (title) {
      vnodes.push(<span slot='title' style={{ marginLeft }}>{(title)}</span>)
    }
    return vnodes
  }
}
</script>
