@import "./variables";

.app-main {
  /* 50= navbar  50  */
  min-height: calc(100vh - @navBarHeight);
  width: 100%;
  position: relative;
}

.fixed-header+.app-main {
  padding-top: @navBarHeight;
}

.hasTagsView {
  .app-main {
    /* 84 = navbar + tags-view = 50 + 34 */
    min-height: calc(100vh - @navBarHeight - @tagViewsHeight);

    .app-container {
      min-height: calc(100vh - @navBarHeight - @tagViewsHeight);
      padding: 24px;
      background: #f0f1f7;
      box-sizing: border-box;

      .app-content {
        min-height: calc(100vh - @navBarHeight - @tagViewsHeight - 48px);
      }
    }
  }

  .fixed-header+.app-main {
    padding-top: calc(@navBarHeight + @tagViewsHeight);
  }
}

//.el-popup-parent--hidden {
//  .fixed-header {
//    padding-right: 15px;
//  }
//}
