
.page-section{
  background: #FFFFFF;
  border-radius: 2px;
  &:not(:first-child) {
    margin-top: 24px;
  }
  .section-item{
    display: inline-block !important;
    width: 26%;
    box-sizing: border-box;
    height: auto;
    margin-bottom: 24px;
    vertical-align: top;
    &>label, &>div{
      line-height: 1.5;
    }
    &:nth-child(3n+2), &:nth-child(3n+3) {
      margin-left: 11%;
    }
  }
}
.section-title {
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  height: 56px;
  line-height: 56px;
  padding-left: 24px;
  box-shadow: inset 0 -1px 0 0 #E8E8E8;
  font-weight: bold;
  background: #FFFFFF;
}
.section-content{
  padding: 24px;
}
@media (min-width: 1920px) {
  .section-content{
    padding: 24px;
  }
}
.detail-label, .detail-value{
  font-size: 14px;
  color: rgba(0,0,0,0.85);
  line-height: 22px;
}
.detail-label{
  font-weight: bold;
  width: 100px;
  text-align: right;
  flex-shrink: 0;
}
.detail-value{
  color: rgba(0,0,0,0.65);
}

.width100 {
  width: 100%;
}
.need-validate-star /deep/ .el-form-item__label::before{
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}

.el-input-number.is-controls-right[class*=small] [class*=decrease], .el-input-number.is-controls-right[class*=small] [class*=increase],
.el-input-number.is-controls-right[class*=mini] [class*=decrease], .el-input-number.is-controls-right[class*=mini] [class*=increase]{
  line-height: 15px;
}

.el-input-number.is-controls-right .el-input__inner{
  padding-left: 8px;
  padding-right: 30px;
}
.detail-page_back_btn_wrapper{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

// .el-button:focus, .el-button:hover{
//   color:@primaryColor;
// }
.el-input__icon.el-icon-arrow-up:before{
  content:'\e78f'
}
.el-input__icon.el-icon-arrow-down:before{
  content:'\e790'
}
.default-primary-btn{
  color: @primaryColor;
  border: 1px solid currentColor;
  border-radius: 4px;
  &:hover{
    border: 1px solid @primaryColor;
    background-color: #ecf5ff;
  }
}
.week-wrap{
  width: 727px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  .container{
    &:first-child{
      border-bottom: 1px solid rgba(0,0,0,0.15);
    }
  }
}
.tag-wrap{
  display: inline-block;
  min-width: 100%;
  background: #FAFAFA;
  border-radius: 4px;
  margin-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  .el-tag--medium{
    height: 32px;
    line-height: 32px;
  }
  >*{
    margin-top:16px !important;;
    margin-left: 16px !important;
  }
}
.add-no-available-date-btn{
  border-style: dashed;
}

.footer-btns-wrapper{
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  justify-content: center;
  position: relative;
  margin-top: 12px;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: -24px;
    right: -24px;
    height: 1px;
    background-color: #E8E8E8;
  }
}


.el-tabs__item.is-active{
  color: @primaryColor !important;
}
.el-transfer-panel__item.el-checkbox{
  width: 100%;
  margin-right: 0px;
  display: flex;
    align-items: center;
    height: 32px;
    color: rgba(0,0,0,0.65);
  &:hover{
    background: #EEF3FD;
    color: rgba(0,0,0,0.65);
    .el-checkbox__inner{
      border: 1px solid @primaryColor;
    }

  }
}

.el-tree-node__content{
  &:hover{
    background: rgba(71,117,255,0.10) !important;

  }
  &:active{
    background:unset !important;

  }
}

.el-form-item{
  color: @primaryColor !important;
}
.iconfont{
  display: inline-block;
}
.el-button{
  .iconfont, span, [class^=el-icon-]{
    vertical-align: middle;
  }
  .iconfont:not(:only-child){
    margin-right: 10px;
  }
}

// 底部操作栏
.operate {
  height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  text-align: right;
  padding: 12px 20px;
  z-index: 4;
  box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.1);
}

// 小圆点
.dot {
  padding-left: 14px;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #CCCFD4;
    border-radius: 50%;
  }
  &.success::before {
    background-color: #52C41A;
  }
  &.danger::before {
    background-color: #F54743;
  }
  &.warning::before {
    background-color: #FFB600;
  }
  &.primary::before {
    background-color: @primaryColor;
  }
}
