@import './variables.less';
// cover some element-ui styles
// el-menu
.el-submenu__title, .el-menu-item{
  height: @sideBarHeight;
  line-height: @sideBarHeight;
  .iconfont{
    color: inherit;
  }
}

.el-submenu .el-menu-item{
    height: 40px !important;
    line-height: 40px !important;
  //height: @sideBarHeight !important;
  //line-height: @sideBarHeight !important;
}

.el-menu--collapse{
  .el-menu-item, .el-submenu__title{
    text-align: center;
    height: @sideBarHeight;
    line-height: @sideBarHeight;
    .iconfont{
      margin-right: 0;
    }
  }
}

.el-menu--popup{
  .nest-menu .el-menu-item{
    height: @sideBarHeight !important;
    line-height: @sideBarHeight !important;
  }
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}


.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// 弹窗组件
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  .el-dialog__header {
    height: 56px;
    padding: 16px 24px;
    box-shadow: inset 0 -1px 0 0 #E8E8E8;
    .el-dialog__title{
      font-size: 16px;
      color: rgba(0,0,0,0.85);
      font-weight: bold;
    }
    .el-dialog__headerbtn{
      top: 16px;
      right: 28px;
      .el-dialog__close{
        color: rgba(0,0,0,0.45);
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .el-dialog__body {
    padding: 24px;
  }
  .el-dialog__footer {
    border-top: 1px solid #e8e8e8;
    padding: 12px 20px;
    text-align: center;
    button.el-button.el-button--medium {
      height: 32px;
      padding: 8px 20px;
    }
  }
}

// 表单组件
.el-form {
  .el-form-item {
    &.el-form-item--small {
      margin-bottom: 24px;
    }
    .el-form-item__label {
      padding: 0;
      color:rgba(0,0,0,0.85);
      font-weight: 500;
    }
    .el-form-item__content{
      color:rgba(0,0,0,0.65);
    }
  }
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// 下拉菜单
.el-dropdown-menu {
  .el-dropdown-menu__item {
    &:not(.is-disabled):hover {
      background-color: rgba(71, 117, 255, .1);
      color: @primaryColor;
    }
  }
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.el-table{
  thead{
    th{
      font-size: 14px;
      color: rgba(0,0,0,0.85);
      background: #FAFAFA;
      padding: 16px 0;
      &:first-child{
        border-top-left-radius: 4px;
      }
      &:last-child{
        border-top-right-radius: 4px;
      }
      .cell {
        padding: 0 0 0 24px;
        line-height: 22px;
      }
    }
  }
  tbody {
    td {
      padding: 12px 0;
      .cell {
        padding: 0 0 0 24px;
        line-height: 22px;
      }
    }
  }
}

// 分页组件
div.el-pagination {
  text-align: right;
  padding: 0;
  span.el-pagination__total {
    height: 32px;
    line-height: 32px;
    margin-right: 11px;
  }
  span.el-pagination__sizes {
    height: 32px;
    line-height: 32px;
    margin-right: 7px;
    .el-select {
      .el-input {
        .el-input__inner {
          &:hover {
            border-color: @primaryColor;
          }
        }
      }
    }
  }
  > button.btn-prev, > button.btn-next, .el-pager .number {
    height: 32px;
    line-height: 32px;
  }
  .el-pager {
    .number {
      font-weight: normal;
      &.active {
        line-height: 30px;
        font-weight: bold;
      }
    }
  }
  span.el-pagination__jump {
    height: 32px;
    line-height: 32px;
    margin-left: 12px;
    .el-pagination__editor {
      height: 32px;
      margin: 0 6px;
      .el-input__inner {
        height: 32px;
      }
    }
  }
  &.is-background {
    button.btn-next, button.btn-prev,.el-pager li.number {
      height: 32px;
      line-height: 32px;
      background-color: #fff;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      min-width: 32px;
      margin: 0 4px;
    }
    .el-pager li {
      &.number {
        &:not(.disabled):not(.active):hover {
          color: @primaryColor;
        }
        &:not(.disabled).active {
          border-color: @primaryColor;
          background-color: @primaryColor;
        }
      }
      &.more {
        background-color: transparent;
        &:hover {
          color: @primaryColor;
        }
      }
    }
  }
}

.el-input--mini input.el-input__inner{
  line-height: 32px;
  height: 32px;
}

.el-input {
  &.el-input--small {
    font-size: 14px;
  }
  .el-input__inner {
    &[type=password] {
      &::-ms-reveal {
        display: none; // 隐藏EDGE浏览器的眼睛
      }
    }
  }
}

.ie11, .ie10 {
  .el-form-item--small{
    .el-form-item__content{
      line-height: 28px;
    }
  }
  .el-step{
    flex-grow: 1;
  }
  .el-input-number.el-input-number--small{
    line-height: 28px;
  }
  .el-cascader--small{
    line-height: 27px !important;
  }
}
// 按钮
button.el-button {
  [class*=" el-icon-"], [class^=el-icon-]{
    font-size: 14px;
  }
  &.el-button--medium,
  &.el-button--small {
    height: 32px;
    padding: 6px 15px;
    > span {
      font-size: 14px;
      > i.iconfont {
        font-size: 16px;
        margin-right: 8px;
      }
    }
  }

  &.el-button--default {
    &:focus {
      color: #606266;
      border-color: #DCDFE6;
      background-color: #fff;
    }
    &:hover {
      color: @primaryColor;
      border-color: @primaryColor;
      background-color: rgba(71, 117, 255, .1);
    }
  }
  &.el-button--primary {
    background-color: @primaryColor;
    border: 1px solid  @primaryColor;
    &.is-active, &:active {
      background-color: @primaryColor;
      border-color: @primaryColor;
    }
    &:hover, &:focus {
      background-color: #6289FF;
      border-color: #6289FF;
      color: #fff;
    }
  }

  &.el-button--text {
    color: @primaryColor;

    &:hover,
    &:focus {
      color: #6289FF;
    }
  }
}

.el-tree{
  .el-tree-node__content{
    margin: 6px 0;
  }
}
.el-scrollbar{
  .el-select-dropdown__item{
    &.selected{
      color: @primaryColor !important;
    }
    &.hover{
      color: @primaryColor !important;
    }
  }
}
.el-textarea__inner:focus,
.el-select .el-input.is-focus .el-input__inner,
.el-input.is-focus .el-input__inner,
.el-input.is-active .el-input__inner, .el-input__inner:focus,
.el-range-editor.is-active, .el-range-editor.is-active:hover{
  border-color: @primaryColor !important;
}

// 单选框
.el-radio {
  .el-radio__input {
    .el-radio__inner {
      &:hover {
        border-color: @primaryColor;
      }
    }
    &.is-checked {
      .el-radio__inner {
        border-color: @primaryColor;
        background-color: @primaryColor;
      }
    }
  }
  &.is-checked {
    span.el-radio__label {
      color: @primaryColor;
    }
  }
}

// 多选框
.el-checkbox {
  .el-checkbox__input:not(.is-disabled) {
    .el-checkbox__inner {
      &:hover {
        border-color: @primaryColor;
      }
    }
    &.is-focus {
      .el-checkbox__inner {
        border-color: @primaryColor;
      }
    }

    &.is-checked, &.is-indeterminate {
      .el-checkbox__inner {
        border-color: @primaryColor;
        background-color: @primaryColor;
      }
    }
  }
  &.is-checked {
    span.el-checkbox__label {
      color: @primaryColor;
    }
  }
}

// 数字输入框
.el-input-number {
  &.el-input-number--small{
    line-height: 31px;
  }
  &.is-disabled {
    .el-input-number__decrease, .el-input-number__increase {
      &:hover ~ div.el-input .el-input__inner {
        border-color: #E4E7ED;
      }
    }
  }
  &:not(.is-disabled) {
    .el-input-number__decrease, .el-input-number__increase {
      &:hover {
        color: @primaryColor;
        &~div.el-input .el-input__inner:not(.is-disabled) {
          border-color: @primaryColor;
        }
      }
    }
  }
}

// 卡片
.el-card {
  border-radius: 2px;
  overflow: visible;
  .el-card__header {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    padding: 12px 24px;
    line-height: 32px;
  }
  .el-card__body {
    padding: 24px;
  }
}

// 步骤条
.el-steps {
  .el-step {
    .el-step__head {
      .el-step__line {
        height: 1px;
        top: 15px;
        background-color: rgba(0, 0, 0, .15);
      }
      .el-step__icon {
        height: 32px;
        width: 32px;
        .el-step__icon-inner {

        }
      }
      &.is-success {
        color: @primaryColor;
        border-color: @primaryColor;

        .el-step__icon {
          border-color: @primaryColor;
          .el-step__icon-inner {
            color: @primaryColor;
          }
        }
      }
      &.is-process {
        .el-step__icon {
          background-color: @primaryColor;
          border-color: @primaryColor;
          .el-step__icon-inner {
            color: #fff;
          }
        }
      }
    }
    .el-step__main {
      .el-step__title {
        &.is-success {
          color: @primaryColor;
        }
        &.is-wait {
          color: rgba(0, 0, 0, .45);
        }
        &.is-process {
          color: rgba(0, 0, 0, .85);
        }
      }

      .el-step__description {
        &.is-success {
          color: rgba(0,0,0,0.45);
        }
        &.is-wait {
          color: rgba(0,0,0,0.45);
        }
        &.is-process {
          color: rgba(0,0,0,0.65);
        }
      }
    }
  }
}

span.el-tag.el-tag--info{
  border-radius: 2px;
  border-color: #d9d9d9;
  background-color: #FFFFFF;
  color: rgba(0,0,0,0.65);
  .el-tag__close.el-icon-close {
    background-color: #C0C4CC;
    right: -4px;
  }
}

// 标签页
.el-tabs {
  &:not(.el-tabs--card) {
    .el-tabs__header {
      margin: 0;

      .el-tabs__nav-wrap {
        &::after{
          height: 1px;
        }
        .el-tabs__nav-scroll {
          background: white;

          .el-tabs__nav {
            .el-tabs__item {
              color: rgba(0,0,0,.65);
            }
            .el-tabs__active-bar {
              background-color: @primaryColor;
            }
            .el-tabs__item {
              &.is-active {
                font-weight: bold;
                color: @primaryColor;
              }
              &:hover {
                color: @primaryColor;
              }
            }
          }
        }
      }
    }
  }
  &.el-tabs--card {
    > .el-tabs__header {
      margin: 0;

      > .el-tabs__nav-wrap {
        > .el-tabs__nav-scroll {
          background: white;

          > .el-tabs__nav {
            > .el-tabs__active-bar{
                background-color: @primaryColor;
              }
            > .el-tabs__item {
              background-color: rgba(0, 0, 0, .02);
              color: rgba(0, 0, 0, .65);
              font-weight: normal;
              &.is-active {
                color: @primaryColor;
                font-weight: bold;
                background-color: transparent;
              }
              &:hover {
                color: @primaryColor;
              }
            }
          }
        }
      }
    }
  }
}

.el-cascader--small{
  line-height: 31px !important;
}

// 级联选择器
.el-popper.el-cascader__dropdown {
  .el-cascader-panel {
    .el-cascader-menu {
      .el-cascader-menu__wrap {
        .el-cascader-menu__list {
          .el-cascader-node {
            height: auto;
            &.in-active-path, &.is-active {
              color: @primaryColor;
            }
            .el-cascader-node__label {
              max-width: 300px;
              padding: 7px 10px;
              white-space: normal;
              overflow: visible;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

// 选择框的下拉弹窗
.el-popper.el-select-dropdown {
  max-width: 320px;
  .el-scrollbar {
    .el-select-dropdown__wrap {
      .el-select-dropdown__list {
        .el-select-dropdown__item {
          white-space: normal;
          overflow: visible;
          height: auto;
          padding: 5px 20px;
          line-height: 24px;
        }
      }
    }
  }
}

// 时间选择器
.el-picker-panel {
  .el-picker-panel__body-wrapper {
    .el-picker-panel__body {
      .el-date-range-picker__time-header {
        .el-date-range-picker__editors-wrap {
          .el-date-range-picker__time-picker-wrap {
            .el-time-panel {
              .el-time-panel__footer {
                .confirm {
                  color: @primaryColor;
                }
              }
            }
          }
        }
      }
      .el-date-picker__time-header {
        .el-date-picker__editor-wrap {
          .el-time-panel {
            .el-time-panel__footer {
              .confirm {
                color: @primaryColor;
              }
            }
          }
        }
      }
      .el-date-picker__header {
        .el-picker-panel__icon-btn {
          &:hover {
            color: @primaryColor;
          }
        }
        .el-date-picker__header-label:hover {
          color: @primaryColor;
        }
      }
      .el-picker-panel__content {
        .el-year-table {
          .available {
            &.today {
              .cell {
                color: @primaryColor;
              }
            }
            &:hover {
              .cell {
                color: @primaryColor;
              }
            }
          }
        }
        .el-month-table {
          .today {
            .cell {
              color: @primaryColor;
            }
          }
          td:not(.disabled) {
            .cell:hover {
              color: @primaryColor;
            }
          }
        }
        .el-date-table {
          .el-date-table__row {
            .disabled {
              > div {
                background-color: transparent;
                color: #ccc;
              }
            }
            .today:not(.start-date):not(.end-date):not(.current) {
              > div {
                > span {
                  border: 1px solid @primaryColor;
                  color: @primaryColor;
                }
              }
            }
            .available {
              &.in-range {
                > div {
                  background-color: rgba(71, 117, 255, .1);
                }
              }
              &.start-date, &.end-date, &.current {
                > div {
                  > span {
                    background-color: @primaryColor;
                  }
                }
              }
              &:hover {
                color: @primaryColor;
              }
            }
          }
        }
      }
    }
  }
  .el-picker-panel__footer {
    .el-button--text {
      color: @primaryColor;
    }
    .is-plain:not(.is-disabled):hover {
      color: @primaryColor;
      border-color: @primaryColor;
    }
  }

  &.time-select {
    .el-scrollbar {
      .el-picker-panel__content {
        .el-scrollbar__view {
          .selected {
            color: @primaryColor;
          }
        }
      }
    }
  }
}

// 文字提示
div.el-tooltip__popper.is-light {
  max-width: 400px;
  border-color: #ede4e6;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  .popper__arrow {
    border-top-color: #ede4e6 !important;
  }
}

sup.el-badge__content--info {
  background-color: #CCCFD4;
}

sup.el-badge__content--danger {
  background-color: #F54743;
}

sup.el-badge__content--success {
  background-color: #52C41A;
}

sup.el-badge__content--warning {
  background-color: #FFB600;
}

sup.el-badge__content--primary {
  background-color: #4775FF;
}

// 提示框
.el-message-box {
  .el-message-box__header {
    .el-message-box__title {
      font-weight: 500;
      font-size: 16px;
    }
    .el-message-box__close {
      &:hover {
        color: @primaryColor;
      }
    }
  }
}

// 链接
.el-link {
  &.el-link--primary {
    color: @primaryColor !important;
    &.is-disabled {
      color: #a0cfff !important;
    }
    .el-link--inner {
      color: @primaryColor;
      &:hover {
        color: #6289FF;
      }
    }
  }
}

// 回到顶部
div.el-backtop {
  box-shadow: 0 2px 6px 0 rgba(184,184,184,0.30);
  color: @primaryColor;
}
