@media screen and (max-device-width:1920px){
    // SideBar @media
    #app .hideSidebar .fixed-header{
      width: calc(100% - 64px)
    }
    #app .hideSidebar .sidebar-container {
        width: 64px !important;
      }

    #app .hideSidebar .main-container {
        margin-left: 64px;
    }
    //#app .hideSidebar .sidebar-logo-container{
    //  height: 64px;
    //  line-height: 64px;
    //}
    #app .hideSidebar .sidebar-title {
      line-height: 64px;
    }

}