@import "./variables";

.navbar {
  height: @navBarHeight;
  overflow: hidden;
  position: relative;
  background: @primaryColor;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .hamburger-container {
    width: @navBarHeight;
    height: @navBarHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    cursor: pointer;
    transition: background .3s;
    -webkit-tap-highlight-color:transparent;

    &:hover {
      background: rgba(0, 0, 0, .025)
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    float: right;
    height: 100%;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background .3s;

        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
    }

    .avatar-container {
      margin: 0 16px 0 0;
      height: @navBarHeight;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .avatar-wrapper {
        display: flex;
        align-items: center;

        .avatar-img {
          width: 16px;
          height: 16px;
        }

        .login-name {
          font-size: 14px;
          color: #FFFFFF;
          line-height: 14px;
          margin: 0 0 0 6px;
        }
      }
    }
  }
}
