@import "./variables";
#app {
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: @sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: @sideBarWidth !important;
    background-color: @menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: 2px 0 6px 0 rgba(0,0,0,0.10);
    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 64px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      height: @sideBarHeight;
      line-height: @sideBarHeight;
      background-color: @menuBg !important; // 修复首页菜单背景从另外页面返回被置灰

      &:hover {
        background-color: @menuHover !important;
      }
      .el-submenu__icon-arrow{
        margin-top: -4px;
      }
      .iconfont{
        font-size: 20px;
      }
    }

    .is-active>.el-submenu__title {
      height: @sideBarHeight;
      line-height: @sideBarHeight;
      color: @subMenuActiveText !important;
    }
    & .el-submenu .el-menu-item.is-active{
      background-color: @subMenuHover !important;
      border-right: 3px solid  #4775FF;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: @sideBarWidth !important;
      background-color: @subMenuBg !important;

      &:hover {
        background-color: @subMenuHover !important;
      // border-right: 3px solid  #4875FF;

      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;
        line-height: 64px;
        .svg-icon {
          margin-left: 20px;
        }
        .iconfont{
          font-size: 24px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;
        height: @sideBarHeight;
        line-height: @sideBarHeight;

        .svg-icon {
          margin-left: 20px;
        }
        .iconfont{
          font-size: 24px;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          height: @sideBarHeight;
          line-height: @sideBarHeight;

          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: @sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: @sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        //transition: none;
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-@sideBarWidth, 0, 0);
      }
      .main-container{
        margin-left: 0;
      }
      .fixed-header{
        width: 100%;
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    height: @sideBarHeight;
    line-height: @sideBarHeight;

    &:hover {
      // you can use @subMenuHover
      background-color: @menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
