@import './element-variables.less';

// base color
@blue:#324157;
@light-blue:#3A71A8;
@red:#C03639;
@pink: #E65D6E;
@green: #30B08F;
@tiffany: #4AB7BD;
@yellow:#FEC171;
@panGreen: #30B08F;

// text colors
@txt_clr_nor: #333333;
@txt_clr_sub: #666666;
@txt_clr_dis: #999999;

@main_clr: @--color-primary;
@diver_clr: #E8E8E8;
@gray_bg: #F5F5F5;

// sidebar
@menuText: rgba(0,0,0,0.65);
@menuActiveText: #4775FF;
@primaryColor: #4775ff;
@subMenuActiveText: #4875FF; // https://github.com/ElemeFE/element/issues/12951

@menuBg:#fff;
@menuHover: rgba(72, 117, 255, 0.1);

@subMenuBg:#fff;
@subMenuHover:rgba(71, 117, 255, 0.1);

@navBarHeight: 64px;
@sideBarWidth: 256px;
@sideBarHeight: 64px;
@media screen and (max-device-width:1440px){
  @navBarHeight: 56px;
  @sideBarWidth: 224px;
  @sideBarHeight: 64px;
}

@productCellHeight: 56px;
@itemCellHeight: 56px;
@tagViewsHeight: 40px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: @menuText;
  menuActiveText: @menuActiveText;
  subMenuActiveText: @subMenuActiveText;
  menuBg: @menuBg;
  menuHover: @menuHover;
  subMenuBg: @subMenuBg;
  subMenuHover: @subMenuHover;
  sideBarWidth: @sideBarWidth;
  primaryColor: @primaryColor;
  navBarHeight: @navBarHeight;
  tagViewsHeight: @tagViewsHeight;
}
