<template>
  <div class="app-container">
    <div
      v-for="(section, sectionIndex) in data"
      :key="sectionIndex"
      class="section"
    >
      <div
        class="section-title"
      >
        {{ section.title }}
      </div>
      <div
        class="section-list"
      >
        <div
          v-for="(item, index) in section.children"
          :key="index"
          class="section-list-item"
        >
          <div class="section-list-item-cell">
            <div
              class="section-list-item-cell-title"
            >
              资源ID：
            </div>
            <div
              class="section-list-item-cell-label"
            >
              {{ item.id }}
            </div>
          </div>
          <div class="section-list-item-cell">
            <div
              class="section-list-item-cell-title"
            >
              资源编码：
            </div>
            <div
              class="section-list-item-cell-label"
            >
              {{ item.resourceCode }}
            </div>
          </div>
          <div class="section-list-item-cell">
            <div
              class="section-list-item-cell-title"
            >
              资源名称：
            </div>
            <div
              class="section-list-item-cell-label"
            >
              {{ item.resourceName }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import siteConfig from '@/utils/config'

export default {
  name: 'ResourceList',
  computed: {
    data() {
      const data = []
      try {
        const json1 = localStorage.getItem(siteConfig.localStorage.resourceIds)
        const json2 = localStorage.getItem(siteConfig.localStorage.resources)
        const resourceIds = json1 ? json1.split(',') : []
        const resources = JSON.parse(json2)

        data.push({
          title: '登录返回的资源列表',
          children: resourceIds.map(id => {
            const index = resources.findIndex(res => res.id === id)
            let obj
            if (index < 0) {
              obj = {
                id
              }
            } else {
              obj = resources[index]
            }

            return obj
          })
        })
      } catch (e) {
        console.log(e)
      }

      return data
    }
  }
}
</script>

<style lang="less" scoped>
  @import "~@/styles/variables.less";

  .app-container {
  .section {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    margin: 24px 0 0;
    padding: 0 0 32px;

    &:first-child {
      margin: 0;
    }

    .section-title {
      padding: 0 24px;
      height: 56px;
      line-height: 56px;
      font-size: 16px;
      color: rgba(0,0,0,0.85);
      font-weight: bold;
      box-shadow: inset 0 -1px 0 0 @diver_clr;
    }

    .section-list {
      margin: 24px 24px 0;
      border-radius: 4px;
      border: 1px solid @diver_clr;

      .section-list-item {
        border-bottom: 1px solid @diver_clr;
        padding: 12px;
        display: flex;

        &:last-child {
          border-bottom: 0 solid @diver_clr;
        }

        .section-list-item-cell {
          flex: 1;
          display: flex;
          align-items: center;

          .section-list-item-cell-title {
            font-size: 14px;
            color: @txt_clr_nor;
            font-weight: bold;
          }

          .section-list-item-cell-label {
            font-size: 14px;
            color: @txt_clr_sub;
          }
        }
      }
    }
  }
}
</style>
