<template>
  <div class="app-container">
    <div class="info-section">
      <div>
        <span>欢迎！</span>
        <span>{{ employeeName }}</span>
        <span>，祝您开心每一天!</span>
      </div>
    </div>
    <div class="img-section">
      <img class="img-home" :src="require('@/assets/imgs/img_home.png')" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',

  data() {
    return {
      employeeName: ''
    }
  },
  created: function() {
    this.employeeName = window.localStorage.getItem('nickName')
  },
  methods: {}
}
</script>

<style lang="less" scoped>
.app-container {
  .title {
    height: 56px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #e8e8e8;
    span {
      flex: 1;
      font-family: PingFangSC-Semibold;
      font-size: 16px;
      color: #333333;
      line-height: 24px;
    }
  }
  .info-section {
    padding: 24px;
    margin-bottom: 24px;
    background: #fff;

    > div:nth-of-type(1) {
      font-size: 24px;
      color: #333;
      line-height: 24px;
      margin-bottom: 20px;
      > span:nth-of-type(1) {
        font-size: 28px;
        color: #4875ff;
      }
    }
    > div:nth-of-type(2) {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #999999;
      line-height: 12px;
    }
  }

  .img-section {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    width: 100%;
    .img-home {
      width: 38.3%;
      margin: 81px 0;
    }
  }
  .checked-list {
    height: 48px;
    > span {
      width: 60%;
      display: inline-block;
    }
  }
  .content{
    display: flex;
    height: 350px;
  }
  .left{
    margin-top: 24px;
    margin-left: 23px;
    width: 49%;
  }
  .divider{
    width: 1px;
    /*background: ~"linear-gradient(to bottom, #ddd 0, #ddd 6px, transparent 0, transparent 10px) 0 0 / 100% 10px";*/
    background: #E8E8E8;
  }
  .treeWrapper{
    width: 49%;
    margin-top: 24px;
    margin-right: 23px;
  }
  .selected-items_scroll_bar{
    height: 270px;
    margin-top: 16px;
    padding-right: 63px;
  }
  .tree-scroll-bar{
    height: 254px;
    margin-top: 16px;
  }
  .selected-nodes{
    display: flex;
    height: 32px;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgba(0,0,0,0.65);
    .label-wrapper {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      div{
        /* one item */
        &:first-child:nth-last-child(1),
        &:first-child:nth-last-child(1) ~ div {
          width: 100%;
        }
        /* two items */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ div {
          width: 50%;
        }
        /* three items or more */
        &:first-child:nth-last-child(n+3),
        &:first-child:nth-last-child(n+3) ~ div {
          width: 33.3333%;
        }
      }
    }
  }
  /deep/ .dialog{
    /deep/.el-dialog__body{
      padding: 0 24px;
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
</style>
