<template>
  <div class="app-container">
    <ListPage ref="homeListPage" :page-props="pageProps" title="全部待办列表">
      <template v-slot:type="{row}">{{ typeListMap[row.type] }}</template>
      <template v-slot:contentType="{row}">{{ contentTypeMap[row.contentType] }}</template>
      <template v-slot:content="{row}"><a @click="jumpPage(row)">{{ row.content }}</a></template>
      <!-- <template v-slot:submitName="{row}">{{ row.status === '1' ? row.processorName : row.submitName }}</template> -->
      <template v-slot:status="{row}">
        <el-badge
          :class="row.status === '1' ? 'success ' : 'info'"
          is-dot
        >{{ auditStatusMap[row.status] }}</el-badge>
      </template>
    </ListPage>
  </div>
</template>

<script>
import ListPage from 'dc-vue-components/components/ListPage'
import { typeListMap, auditStatusMap, contentTypeMap, jumpPage } from './const'

export default {
  name: 'HomeList',
  components: {
    ListPage
  },
  data() {
    return {
      typeListMap,
      auditStatusMap,
      contentTypeMap
    }
  },
  computed: {
    pageProps: function() {
      return {
        ui: {
          api_url: 'todolist/query',
          method: 'POST',
          search_bar: {
            fields: [
              {
                en_name: 'content',
                zh_name: '待办内容',
                elem_type: 'Input'
              },
              {
                en_name: 'type',
                zh_name: '待办类型',
                elem_type: 'Select',
                cmpt_options: Object.keys(typeListMap)
                  .sort()
                  .map(val => ({ value: val, label: typeListMap[val] }))
              },
              {
                en_name: 'status',
                zh_name: '状态',
                elem_type: 'Select',
                cmpt_options: Object.keys(auditStatusMap)
                  .sort()
                  .map(val => ({ value: val, label: auditStatusMap[val] }))
              },
              {
                en_name: 'submitName',
                zh_name: '提交人',
                elem_type: 'Input'
              }
            ]
          },
          action_bar: [],
          table: {
            fields: [
              { en_name: 'type', zh_name: '待办类型' },
              // { en_name: "contentType", zh_name: "待办类型" },
              { en_name: 'content', zh_name: '待办内容' },
              { en_name: 'submitName', zh_name: '提交人' },
              { en_name: 'createTime', zh_name: '提交时间' },
              { en_name: 'status', zh_name: '状态' }
            ],
            actions: []
          }
        }
      }
    }
  },
  methods: {
    jumpPage(row) {
      jumpPage(row, this)
    }
  }
}
</script>
<style lang="less" scoped>
.app-container /deep/ .el-badge {
  padding-left: 6px;
}
.app-container /deep/ .info .el-badge__content--undefined{
  background: #266EFF;
}
.app-container /deep/ .success .el-badge__content--undefined{
  background: #52C41A;
}
.app-container /deep/ .el-badge__content {
  top: 11px;
  left: -16px;
}
</style>

