<template>
  <div
    id="app"
    class="app-root"
  >
    <router-view />
  </div>
</template>

<script>
import { msie, ieVersion } from '@/utils/browser'
export default {
  name: 'App',
  created: function() {
    msie && (document.body.className += ` ie${ieVersion}`)
  }
}
</script>

<style lang="less" scoped>
  .app-root {
    width: 100%;
  }
</style>
