<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      :rules="loginRules"
      class="login-form"
      autocomplete="on"
      label-position="left"
    >
      <div class="logo" />
      <div class="inputsWrapper">
        <div class="systemName">DEMO管理系统</div>
        <el-form-item prop="username">
          <el-input
            ref="username"
            v-model="loginForm.username"
            placeholder="用户名"
            name="username"
            type="text"
            tabindex="1"
            autocomplete="on"
          >
            <i slot="prefix" class="iconfont iconuser" />
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            :key="passwordType"
            ref="password"
            v-model="loginForm.password"
            :type="passwordType"
            placeholder="密码"
            name="password"
            tabindex="2"
            autocomplete="on"
            @keyup.enter.native="handleLogin"
          >
            <i slot="prefix" class="iconfont iconlock" />
          </el-input>
          <span class="show-pwd" style="display:none;" @click="showPwd">
            <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
          </span>
        </el-form-item>
        <el-form-item prop="captcha" class="captcha_wrapper">
          <el-input
            v-model="loginForm.captcha"
            placeholder="验证码"
            @keydown.enter.native="handleLogin"
          >
            <i slot="prefix" class="iconfont iconsafetycertificate" />
          </el-input>
          <img :src="'data:image/jpg;base64,' + captchaImgData" alt="">
        </el-form-item>
        <el-button :loading="loading" type="primary" class="loginBtn" @click.native.prevent="handleLogin">登 录</el-button>
      </div>
    </el-form>
    <div class="copyright">
      copyright © 2020 云徙科技
    </div>
  </div>
</template>

<script>
import request from '@/utils/request'

export default {
  name: 'Login',
  data() {
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('密码不能小于6位'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        username: '',
        password: '',
        captcha: ''
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', message: '请输入用户名' }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }],
        captcha: [{ required: true, trigger: 'blur', message: '请输入验证码' }]
      },
      passwordType: 'password',
      loading: false,
      showDialog: false,
      redirect: undefined,
      otherQuery: {},
      captchaImgData: '',
      uniqueId: ''
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query
        if (query) {
          this.redirect = query.redirect
          this.otherQuery = this.getOtherQuery(query)
        }
      },
      immediate: true
    }
  },
  mounted() {
    if (this.loginForm.username === '') {
      this.$refs.username.focus()
    } else if (this.loginForm.password === '') {
      this.$refs.password.focus()
    }
  },
  destroyed() {
  },
  created() {
    this.getCaptchaImgData()
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleLogin() {
      const _t = this
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('user/login', {
            ...this.loginForm,
            uniqueId: _t.uniqueId,
            username: this.loginForm.username,
            password: this.loginForm.password
          }).then(() => {
            this.$router.push({ path: '/' })
          })
            .catch(() => {
              _t.getCaptchaImgData()
              _t.loading = false
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        return acc
      }, {})
    },
    async getCaptchaImgData() {
      try {
        const { resultCode, data } = await request({
          url: 'auth/verifyCode'
        })
        if ('' + resultCode === '0') {
          this.captchaImgData = data.image
          this.uniqueId = data.uniqueId
        }
      } catch (e) {
        console.log('getCaptchaImgData error:', e)
      }
    }
  }
}
</script>

<style lang="less" scoped>
  @login_form_width: 840px;
  @login_form_height: 530px;
  @input_wrapper_width: 340px;
  @input_height: 40px;
  @large_input_height: @input_height*1.5;

  .login-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: ~"url('./bg-2x.png') center / auto";
    min-width: 840px;
    min-height: 600px;
    position: relative;

    .loginBtn {
      width: 100%;
      margin-top: 24px;
      height: @input_height;
    }
    /deep/ .el-form-item {
      margin-bottom: 24px;
      .el-form-item__content {
        height: 40px;
      }
    }
    @media (min-width: 1921px) {
      background-image: url('./bg-3x.png');
      .login-form {
        width: @login_form_width * 1.5;
        height: @login_form_height * 1.5;
      }

      .inputsWrapper {
        width: @input_wrapper_width * 1.5;
        /deep/ .el-input__inner {
          height: @large_input_height;
          line-height: @large_input_height;
        }
        /deep/ .el-input__prefix{
          line-height: @large_input_height;
        }
      }
      .captcha_wrapper{
        img{
          width: 150px;
          height: @large_input_height
        }
      }
      .loginBtn{
        height: @large_input_height;
        margin-top: 24 * 1.5px;
      }
      /deep/ .el-form-item {
        margin-bottom: 24 * 1.5px;
        .el-form-item__content {
          height: @large_input_height
        }
      }
      .el-form-item{
        margin-bottom: 24 * 1.5px;
      }
      .systemName{
        margin-top: 95 * 1.5px;
        padding-bottom: 38 * 1.5px;
      }
    }
  }

  .login-form {
    width: @login_form_width;
    height: @login_form_height;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  }

  .logo {
    width: 132px;
    position: absolute;
    left: 48px;
    top: 32px;
  }

  .inputsWrapper {
    position: absolute;
    right: 48px;
    width: @input_wrapper_width;
    /deep/ .el-input__inner {
      height: @input_height;
      line-height: @input_height;
      padding-left: 36px;
    }
    /deep/ .el-input__prefix{
      left: 14px;
      line-height: @input_height;
    }
  }

  .systemName {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    margin-top: 95px;
    padding-bottom: 38px;
    font-weight: bold;
  }

  .captcha_wrapper {
    /deep/ .el-form-item__content {
      display: flex;
    }
    img {
      width: 94px;
      height: 40px;
      margin-left: 8px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      flex-shrink: 0;
    }
  }

  .copyright{
    position: absolute;
    bottom: 16px;
    text-align: center;
    font-size: 12px;
    color: rgba(255,255,255,0.45);
    line-height: 20px;
    width: 100%;
  }
</style>
