<template>
  <div class="app-container">
    <div style="background: #fff; padding: 24px;">
      <Description :list="list" />
    </div>
  </div>
</template>

<script>
import Description from 'dc-vue-components/components/Descriptions'
export default {
  name: 'DescriptionDemo',
  components: {
    Description
  },
  data: function() {
    return {
      list: [
        { label: '景区名称', value: '武夷山' },
        { label: '容纳人数', value: '10000' },
        { label: '营业时间', value: '08:00-20:12' },
        { label: '所属组织', value: '福建省' },
        { label: '具体地址', value: '福建省武夷山市' },
        { label: '营业状态', value: '开业' },
        { label: '开业时间', value: '1990/12/20' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
