<template>
  <div class="app-container">
    <div class="txt">drag-list base on
      <el-link type="primary" href="https://github.com/SortableJS/Vue.Draggable" target="_blank">Vue.Draggable</el-link>
    </div>
    <div class="editor-container">
      <dnd-list :list1="list1" :list2="list2" list1-title="List" list2-title="Article pool" />
    </div>
  </div>
</template>

<script>
import DndList from 'dc-vue-components/components/DndList'
import { fetchList } from '@/api/article'

export default {
  name: 'DndListDemo',
  components: {
    DndList
  },
  data: function() {
    return {
      list1: ['abc', 'ac'],
      list2: [1, 2, 3, 4, 5]
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      this.listLoading = true
      fetchList().then(response => {
        this.list1 = response.data.items.splice(0, 5)
        this.list2 = response.data.items
      })
    }
  }
}
</script>

<style scoped lang="less">
@import "component-demo";
.editor-container{
  padding-left: 24px;
  background: #fff;
}
</style>
