<template>
  <div class="app-container">
    <div class="txt">
        拖动上传文件， 暂时上传到七牛云作为示例
    </div>
    <Dropzone id="myDropzoneDemo" url="https://httpbin.org/post" @dropzone-removedFile="dropzoneR" @dropzone-success="dropzoneS" />
  </div>
</template>

<script>
import Dropzone from 'dc-vue-components/components/Dropzone'
export default {
  name: 'DropzoneDemo',
  components: {
    Dropzone
  },
  methods: {
    dropzoneS(file) {
      console.log(file)
      this.$message({ message: 'Upload success', type: 'success' })
    },
    dropzoneR(file) {
      console.log(file)
      this.$message({ message: 'Delete success', type: 'success' })
    }
  }
}
</script>

<style lang="less">
    @import "./component-demo.less";
</style>
<style scoped>

</style>
