
<template>
  <div class="app-container">
    <EditTemplate
      ref="editContainer"
      :rules="rules"
      :form-values="formValues"
      class="edit-container"
      label-width="150px"
      @submit="handleSubmit"
      @cancel="handleCancel"
    >
      <FormCard
        title="基础信息"
        :form-props="basicInfoFormProps"
        :form-values="formValues"
        :editable-fields="editableFields"
        :span="12"
      />
      <FormCard
        title="个人秀"
        :form-props="profileProps"
        :form-values="formValues"
        :editable-fields="editableFields"
      >
        <el-form-item slot="profile" label="个人秀" prop="profile">
          <KindEditor
            ref="editor"
            :content.sync="formValues.profile"
            upload-json="xxxx"
            height="200"
            width="100%"
          />
        </el-form-item>
      </FormCard>
      <div style="background: #fff; padding: 24px; margin: 24px 0;">
        {{ JSON.stringify(formValues) }}
      </div>
    </EditTemplate>
  </div>
</template>

<script>
import EditTemplate from 'dc-vue-components/components/EditTemplate'
import FormCard from 'dc-vue-components/components/FormCard'
import KindEditor from 'dc-vue-components/components/Kindeditor'

export default {
  name: 'FormCardDemo',
  components: {
    EditTemplate,
    FormCard,
    KindEditor
  },
  data() {
    return {
      basicInfoFormProps: {
        formItemList: [
          { label: '姓名', prop: 'name', type: 'Input', span: 9 },
          { label: '年龄', prop: 'age', type: 'InputNumber', controls: false, min: 0, span: 9, colAttrs: { offset: 3 }},
          { label: '职业', prop: 'job', type: 'Input', span: 9 },
          { label: '身高', prop: 'height', type: 'Input', span: 9, colAttrs: { offset: 3 }},
          { label: '爱好', prop: 'hobby', type: 'CheckBox', span: 24, value: [],
            options: [
              '足球',
              '篮球',
              '乒乓球',
              '排球',
              '游泳',
              '击剑',
              '滑雪',
              '舞蹈',
              '拳击',
              '旅游',
              '电竞'
            ]
          },
          { label: '介绍', prop: 'description', en_prop: 'enDescription', type: 'Textarea', rows: 2, span: 21 }
        ]
      },
      profileProps: {
        formItemList: [
          {
            label: '个人秀',
            prop: 'profile',
            type: 'Slot',
            width: '100%'
          }
        ]
      },
      rules: {
        name: [{ required: true, message: '请输入姓名', pattern: '[^ \x22]+' }],
        age: [{ required: true, message: '请输入年龄', pattern: '[^ \x22]+' }],
        job: [{ required: true, message: '请输入职业', trigger: 'change' }]
      },
      formValues: {
        hobby: []
      }
    }
  },
  computed: {
    editableFields: function() {
      return ['name', 'age', 'job', 'height', 'hobby', 'description', 'profile']
    }
  },
  activated: function() {
    this.$refs.editContainer.$refs.ruleForm.clearValidate()
  },
  created: function() {

  },
  methods: {
    async handleSubmit() {
      console.log(this.formValues)
      // this.$store.dispatch('tagsView/delView', this.$route)
      // this.$router.replace({ path: '/index' })
    },
    handleCancel() {
      this.$store.dispatch('tagsView/delView', this.$route)
      this.$router.replace({ path: '/index' })
    }
  }
}
</script>
<style lang="less">
    .btnGroup{
        display:flex;
        justify-content: center;
        margin: 12px 0 -18px;
    }
</style>

<style lang="less" scoped>
    .edit-container {
        /deep/ .formItemSty {
            margin-left: 0;
            width: 50% !important;
        }
    }
</style>
