<template>
  <div class="app-container">
    <div class="txt">
      Json-Editor is base on <el-link type="primary" href="https://github.com/codemirror/CodeMirror">CodeMirror</el-link>,
      Lint base on json-lint. <el-link type="primary" href="https://github.com/codemirror/CodeMirror/blob/master/addon/lint/json-lint.js">json-lint</el-link>
    </div>
    <JSONEditor v-model="json" />
    <div class="txt" style="margin-top: 24px">{{json}}</div>
  </div>
</template>

<script>
import JSONEditor from 'dc-vue-components/components/JsonEditor'
export default {
  name: 'JSONEditorDemo',
  components: {
    JSONEditor
  },
  data: function() {
    return {
      json: {
        companyName: '云徙科技',
        employee: 1000
      }
    }
  }
}
</script>

<style scoped lang="less">
    .txt{
        background: #fff;
        padding: 24px;
        margin-bottom: 24px;
    }
</style>
