<template>
  <div class="app-container">
    <div class="txt">
      富文本编辑器 KindEditor， 使用<code>:content.sync="xxx"</code>进行双向绑定
    </div>
    <KindEditor :content.sync="content" />
    <div class="txt" style="margin-top: 24px;">
      Inputted content: {{content}}
    </div>
  </div>
</template>

<script>
import KindEditor from 'dc-vue-components/components/Kindeditor'
export default {
  name: 'KindeditorDemo',
  components: {
    KindEditor
  },
  data: function () {
    return {
      content: 'init'
    }
  }
}
</script>

<style scoped lang="less">
    .txt{
        padding: 24px;
        background: #fff;
        margin-bottom: 24px;
    }
</style>
