<template>
  <div class="app-container">
    <ListPage :page-props="pageProps" />
  </div>
</template>

<script>
import ListPage from 'dc-vue-components/components/ListPage'
export default {
  name: 'ListPageDemo',
  components: {
    ListPage
  },
  data: function() {
    return {
      pageProps: {
        ui: {
          api_url: '/vue-element-admin/article/list',
          method: 'GET',
          table: {
            fields: [
              { zh_name: 'id', en_name: 'id' },
              { zh_name: 'author', en_name: 'author' },
              { zh_name: 'reviewer', en_name: 'reviewer' },
              { zh_name: 'title', en_name: 'title' },
              { zh_name: 'content', en_name: 'content' },
              { zh_name: 'time', en_name: 'display_time' },
              { zh_name: 'pageviews', en_name: 'pageviews' },
            ],
            actions: [
              {
                label: '查看',
                linkUrl: '#/components/description'
              }
            ],
            actionWidth: 80
          },
          data_field_name: 'items'
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
