<template>
  <div class="app-container">
    <EditTemplate>
      <FormCard
        title="基础信息"
        :form-props="basicInfoFormProps"
        :form-values="formValues"
        :editable-fields="editableFields"
      />
      <FormCard>
        <template v-slot:title>
          <span>发表的文章</span>
        </template>
        <TableSelect
          ref="hotelSelect"
          :table-fields="fields"
          btn-text="选择文章"
          dlg-title="选择文章"
          dlg-width="1050px"
          :page-props="pageProps"
          :initial-table-data="[]"
          :relative-ids.sync="formValues.articlesId"
          row-key="id"
          @update:relativeIds="handleRelateIdsChange"
          selection="multiple"
        />
      </FormCard>
    </EditTemplate>
  </div>
</template>

<script>
import EditTemplate from 'dc-vue-components/components/EditTemplate'
import FormCard from 'dc-vue-components/components/FormCard'
import TableSelect from 'dc-vue-components/components/TableSelect'
export default {
  name: 'TableSelectDemo',
  components: {
    EditTemplate,
    FormCard,
    TableSelect
  },
  data: function() {
    return {
      basicInfoFormProps: {
        formItemList: [
          { label: '姓名', prop: 'name', type: 'Input' },
          { label: '年龄', prop: 'age', type: 'InputNumber', controls: false, min: 0 },
          { label: '职业', prop: 'job', type: 'Input',  }
        ]
      },
      formValues: {},
      editableFields: ['name', 'age', 'job'],
      fields: [
        { zh_name: 'id', en_name: 'id' },
        { zh_name: 'author', en_name: 'author' },
        { zh_name: 'reviewer', en_name: 'reviewer' },
        { zh_name: 'title', en_name: 'title' },
        { zh_name: 'content', en_name: 'content' },
        { zh_name: 'time', en_name: 'display_time' },
        { zh_name: 'pageviews', en_name: 'pageviews' }
      ],
      pageProps: {
        ui: {
          api_url: '/vue-element-admin/article/list',
          method: 'GET',
          table: {
            fields: [
              { zh_name: 'id', en_name: 'id' },
              { zh_name: 'author', en_name: 'author' },
              { zh_name: 'reviewer', en_name: 'reviewer' },
              { zh_name: 'title', en_name: 'title' },
              { zh_name: 'content', en_name: 'content' },
              { zh_name: 'time', en_name: 'display_time' },
              { zh_name: 'pageviews', en_name: 'pageviews' }
            ]
          },
          data_field_name: 'items'
        }
      }
    }
  },
  methods: {
    handleRelateIdsChange: function(ids) {
      console.log(ids)
    }
  }
}
</script>

<style scoped>

</style>
