<template>
    <div class="app-container">
        <div class="txt">
            富文本编辑Tinymce <el-link href="https://www.tiny.cloud/docs/" type="primary" target="_blank">文档</el-link>
        </div>
        <Tinymce/>
    </div>
</template>

<script>

import Tinymce from 'dc-vue-components/components/Tinymce'
export default {
  name: 'TinymceDemo',
  components: {
    Tinymce
  }
}
</script>

<style scoped lang="less">
.txt{
    background: #fff;
    padding: 24px;
    margin-bottom: 24px;
}
</style>